.header-wrap {
    border-color: rgba(24,37,61,0.0600) !important;
    top: 0;
    flex-direction: column;
    align-items: center;
    background: #f5f6fa;
    z-index: 1000;
    border-bottom: 1px solid;
    border-radius: 12px 12px 0px 0px;
    position: sticky;
    width: 100%;
    display: flex;
}

.header {
    justify-content: space-between;
    padding: 8px 12px;
    width: 100%;
    max-width: 1000px;
    display: flex;
}

.header-space {
    align-items: center;
    display: flex;
}

.header-login {
    align-items: center;
    gap: 12px;
    display: flex;
}

.login-button {
    backdrop-filter: none;
    background-color: #0aa5ff;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    max-height: 36px;
    padding: 0px 8px;
    min-height: 36px;
    display: inline-flex;
    border-radius: 999px;
    cursor: pointer;
    outline: none;
}

.login-text {
    justify-content: center;
    align-items: center;
    padding: 0px 4px;
    user-select: none;
    white-space: nowrap;
    display: flex;
    letter-spacing: -0.28px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-family: "PretendardVariable","PretendardVariable Fallback";
}