#main-content {
    align-items: flex-start;
    background: #ffffff;
    height: 100svh;
    padding: 8px;
    gap: 8px;
    width: 100%;
    display: flex;
}

.side-bar {
    align-items: flex-start;
    flex-direction: column;
    align-self: stretch;
    min-width: 320px;
    max-width: 320px;
    display: flex;
}

.side-bar-top-wrap {
    align-items: flex-start;
    flex-direction: column;
    align-self: stretch;
    display: flex;
}

.side-bar-top-content {
    align-self: stretch;
    align-items: center;
    padding: 8px 4px 8px 8px;
    background: #ffffff;
    height: 56px;
    gap: 8px;
    display: flex;
}

.side-bar-top-kok-icon {
    justify-content: center;
    align-items: center;
    mask: none;
    -webkit-mask: none;
    display: inline-flex;
    color: rgba(18,19,20,1);
}

.side-bar-search-button {
    justify-content: center;
    align-items: center;
    max-height: 40px;
    gap: 9px;
    min-height: 40px;
    padding: 0 8px;
    max-width: 360px;
    border-radius: 16px;
    background: rgba(86,105,143,0.0600);
    cursor: pointer;
    flex: 1 0 0;
    display: flex;
}

.side-bar-search-context-wrap {
    align-items: center;
    padding: 0 8px;
    flex: 1 0 0;
    display: flex;
}

.side-bar-search-context {
    text-overflow: ellipsis;
    color: rgba(18,19,20,0.6000);
    white-space: nowrap;
    overflow: hidden;
    font-weight: 400;
    letter-spacing: -.28px;
    font-family: "PretendardVariable","PretendardVariable Fallback";
    font-size: 14px;
    line-height: 20px;
}

.side-bar-search-icon-wrap {
    align-items: center;
    gap: 4px;
    display: flex;
}

.side-bar-search-icon {
    background-color: rgba(86,105,143,0.0600);
    justify-content: center;
    align-items: center;
    height: 24px;
    border-radius: 8px;
    width: 24px;
    display: flex;
}

.side-bar-search-icon-text {
    color: rgba(18,19,20,0.4000);
    letter-spacing: -.24px;
    font-family: "PretendardVariable","PretendardVariable Fallback";
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

.side-bar-list-wrap {
    align-items: flex-start;
    overflow-y: auto;
    flex-direction: column;
    align-self: stretch;
    padding-block: 8px;
    gap: 16px;
    flex: 1 0 0;
    display: flex;
}

.side-bar-list-button-wrap1 {
    align-items: flex-start;
    flex-direction: column;
    align-self: stretch;
    display: flex;
}

.side-bar-list-button-wrap2 {
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    display: flex;
}

.start-line {
    width: 100%;
}

/* 선택된 버튼 css */
.side-bar-list-button-selected {
    align-items: center;
    border-radius: 8px;
    background: rgba(86,105,143,0.0600);
    cursor: pointer;
    gap: 12px;
    width: 100%;
    padding: 12px;
    display: flex;
}

/* 선택되지 않은 버튼 css */
.side-bar-list-button {
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    gap: 12px;
    width: 100%;
    padding: 12px;
    display: flex;
}

/* 선택된 버튼의 아이콘css */
.side-bar-list-button-icon-selected {
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: rgba(18,19,20,1);
    display: inline-flex;
}

/* 선택되지 않은 버튼의 아이콘 css */
.side-bar-list-button-icon {
    justify-content: center;
    align-items: center;
    color: rgba(18,19,20,0.4000);
    background: rgba(86,105,143,0.0800);
    display: inline-flex;
}

.side-bar-list-context-wrap {
    flex-direction: column;
    flex: 1 0 0;
    display: flex;
}

.side-bar-list-main-context {
    user-select: none;
    color: rgba(18,19,20,1);
    letter-spacing: -.28px;
    font-family: "PretendardVariable","PretendardVariable Fallback";
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.side-bar-list-sub-context {
    user-select: none;
    text-overflow: ellipsis;
    color: rgba(18,19,20,0.6000);
    overflow: hidden;
    letter-spacing: -.24px;
    font-family: "PretendardVariable","PretendardVariable Fallback";
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.side-bar-notice-wrap {
    padding-bottom: 80px;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    display: flex;
}

.side-bar-line {
    align-items: flex-start;
    flex-direction: column;
    align-self: stretch;
    background: rgba(24,37,61,0.0600);
    height: 1px;
    display: flex;
}

.legal-notice-context-wrap, .address-notice-context-wrap, .business-number-context-wrap {
    padding: 0 8px;
    gap: 12px;
    width: 100%;
    display: flex;
}

.legal-notice-context, .address-notice-context {
    word-break: normal !important;
    color: rgba(18,19,20,0.4000);
    letter-spacing: 0;
    font-family: "PretendardVariable","PretendardVariable Fallback";
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.business-number-wrap {
    flex-direction: column;
    gap: 0;
    display: flex;
}

.business-number-context {
    color: rgba(18,19,20,0.4000);
    letter-spacing: 0;
    font-family: "PretendardVariable","PretendardVariable Fallback";
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.business-number-context-open-button {
    text-decoration-line: underline;
    text-underline-position: under;
    text-decoration-thickness: .8px;
    cursor: pointer;
}

.side-bar-login-wrap1 {
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    align-self: stretch;
    display: flex;
}

.side-bar-login-wrap2 {
    justify-content: flex-end;
    flex-direction: column;
    align-self: stretch;
    cursor: pointer;
    gap: 8px;
    display: flex;
}

.side-bar-login-button-wrap {
    text-align: center;
    width: 100%;
}

.side-bar-login-button {
    column-gap: 4px;
    justify-content: center;
    align-items: center;
    max-height: 36px;
    padding: 0 8px;
    min-height: 36px;
    display: inline-flex;
    width: fit-content;
    border-radius: 999px;
    cursor: pointer;
    letter-spacing: -.28px;
    font-family: "PretendardVariable","PretendardVariable Fallback";
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.side-bar-login-button-context {
    user-select: none;
    white-space: nowrap;
    color: rgba(18,19,20,1);
}

/* main 확인용 */
.main {
    border-color: rgba(255,255,255,0.0000);
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    background: #f5f6fa;
    min-width: 480px;
    border-radius: 12px;
    border: 1px solid;
    flex: 1 0 0;
    display: flex;
    border-width: 0;
}

/* 검색 버튼 모달창 */
.search-button-modal-wrap {
    padding: 14vh !important;
    z-index: 1000;
}

.search-button-modal {
    max-width: 800px;
    width: 800px;
}

.search-button-modal-height-auto {
    height: auto;
}

.search-button-modal-header-wrap {
    margin-bottom: 8px;
    align-items: center;
    position: relative;
    display: flex;
}

.search-button-modal-header {
    justify-content: center;
    align-items: center;
    display: inline-flex;
    color: rgba(18,19,20,1);
}

.search-magnify-icon {
    left: 16px;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    position: absolute;
}