.pc #main-content {
    align-items: flex-start;
    background: #ffffff;
    height: 100svh;
    padding: 8px;
    gap: 8px;
    width: 100%;
    display: flex;
}

.pc .sidebar {
    height: calc(100vh - 16px);
    align-items: flex-start;
    flex-direction: column;
    align-self: stretch;
    min-width: 320px;
    max-width: 320px;
    display: flex;
}

.pc .sidebar-top {
    align-items: flex-start;
    flex-direction: column;
    align-self: stretch;
    display: flex;
}

.pc .sidebar-top-content {
    align-self: stretch;
    align-items: center;
    padding: 8px 4px 8px 8px;
    background: #ffffff;
    height: 56px;
    gap: 8px;
    display: flex;
}

.pc .sidebar-logo {
    justify-content: center;
    align-items: center;
    mask: none;
    -webkit-mask: none;
    display: inline-flex;
    color: rgba(18,19,20,1);
    border-radius:0px;
    height:40px;
    padding:0px;
}

.pc .sidebar-search {
    justify-content: center;
    align-items: center;
    max-height: 40px;
    gap: 9px;
    min-height: 40px;
    padding: 0 8px;
    max-width: 360px;
    border-radius: 16px;
    background: rgba(86,105,143,0.0600);
    cursor: pointer;
    flex: 1 0 0;
    display: flex;
}

.pc .sidebar-search-text {
    align-items: center;
    padding: 0 8px;
    flex: 1 0 0;
    display: flex;
}

.pc .sidebar-search-placeholder {
    text-overflow: ellipsis;
    color: rgba(18,19,20,0.6000);
    white-space: nowrap;
    overflow: hidden;
    font-weight: 400;
    letter-spacing: -.28px;
    font-family: "PretendardVariable","PretendardVariable Fallback";
    font-size: 14px;
    line-height: 20px;
}

.pc .sidebar-search-shortcut {
    align-items: center;
    gap: 4px;
    display: flex;
}

.pc .sidebar-search-key {
    background-color: rgba(86,105,143,0.0600);
    justify-content: center;
    align-items: center;
    height: 24px;
    border-radius: 8px;
    width: 24px;
    display: flex;
}

.pc .sidebar-search-key-text {
    color: rgba(18,19,20,0.4000);
    letter-spacing: -.24px;
    font-family: "PretendardVariable","PretendardVariable Fallback";
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

.pc .sidebar-menu {
    align-items: flex-start;
    overflow-y: auto;
    flex-direction: column;
    align-self: stretch;
    padding-block: 8px;
    gap: 16px;
    flex: 1 0 0;
    display: flex;
}

.pc .sidebar-menu-section {
    align-items: flex-start;
    flex-direction: column;
    align-self: stretch;
    display: flex;
}

.pc .sidebar-menu-list {
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    display: flex;
}

.pc .start-line {
    width: 100%;
}

/* 선택된 버튼 css */
.pc .sidebar-item-active {
    align-items: center;
    border-radius: 8px;
    background: rgba(86,105,143,0.0600);
    cursor: pointer;
    gap: 12px;
    width: 100%;
    padding: 12px;
    display: flex;
}

/* 선택되지 않은 버튼 css */
.pc .sidebar-item {
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    gap: 12px;
    width: 100%;
    padding: 12px;
    display: flex;
}

/* 선택된 버튼의 아이콘css */
.pc .sidebar-item-icon-active {
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: #0aa5ff;
    display: inline-flex;
    border-radius:6.4px;
    height:32px;
    padding:6.4px;
}

/* 선택되지 않은 버튼의 아이콘 css */
.pc .sidebar-item-icon {
    justify-content: center;
    align-items: center;
    color: rgba(18,19,20,0.4000);
    background: rgba(86,105,143,0.0800);
    display: inline-flex;
    border-radius:6.4px;
    height:32px;
    padding:6.4px;
}

.pc .sidebar-item-text {
    flex-direction: column;
    flex: 1 0 0;
    display: flex;
}

.pc .sidebar-item-title {
    user-select: none;
    color: rgba(18,19,20,1);
    letter-spacing: -.28px;
    font-family: "PretendardVariable","PretendardVariable Fallback";
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.pc .sidebar-item-subtitle {
    user-select: none;
    text-overflow: ellipsis;
    color: rgba(18,19,20,0.6000);
    overflow: hidden;
    letter-spacing: -.24px;
    font-family: "PretendardVariable","PretendardVariable Fallback";
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.pc .sidebar-notice {
    padding-bottom: 80px;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    display: flex;
}

.pc .sidebar-line {
    align-items: flex-start;
    flex-direction: column;
    align-self: stretch;
    background: rgba(24,37,61,0.0600);
    height: 1px;
    display: flex;
}

.pc .sidebar-business .extra-text {
    display: none;
}

.pc .sidebar-business.expanded .extra-text {
    display: inline;
}

.pc .sidebar-business-toggle {
    cursor: pointer;
    user-select: none;
}


.pc .sidebar-legal,
.pc .sidebar-address,
.pc .sidebar-business-text {
    padding: 0 8px;
    gap: 12px;
    width: 100%;
    display: flex;
}

.pc .sidebar-legal-text,
.pc .sidebar-address-text {
    word-break: normal !important;
    color: rgba(18,19,20,0.4000);
    letter-spacing: 0;
    font-family: "PretendardVariable","PretendardVariable Fallback";
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.pc .sidebar-service-wrap {
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    gap: 12px;
    width: 100%;
    padding: 12px;
    display: flex;
}

.pc .sidebar-service {
    flex-direction: column;
    flex: 1 0 0;
    display: flex;
}

.pc .sidebar-service-text {
    user-select: none;
    color: rgba(18,19,20,1);
    letter-spacing: -.28px;
    font-family: "PretendardVariable","PretendardVariable Fallback";
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}  

.pc .sidebar-business {
    flex-direction: column;
    gap: 0;
    display: flex;
}

.pc .sidebar-business-text {
    color: rgba(18,19,20,0.4000);
    letter-spacing: 0;
    font-family: "PretendardVariable","PretendardVariable Fallback";
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.pc .sidebar-business-toggle {
    text-decoration-line: underline;
    text-underline-position: under;
    text-decoration-thickness: .8px;
    cursor: pointer;
}

.pc .sidebar-login {
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    align-self: stretch;
    display: flex;
}

.pc .sidebar-login-inner {
    justify-content: flex-end;
    flex-direction: column;
    align-self: stretch;
    cursor: pointer;
    gap: 8px;
    display: flex;
}

.pc .sidebar-login-btn-wrap {
    text-align: center;
    width: 100%;
}

.pc .sidebar-login-btn {
    column-gap: 4px;
    justify-content: center;
    align-items: center;
    max-height: 36px;
    padding: 0 8px;
    min-height: 36px;
    display: inline-flex;
    width: fit-content;
    border-radius: 999px;
    cursor: pointer;
    letter-spacing: -.28px;
    font-family: "PretendardVariable","PretendardVariable Fallback";
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.pc .sidebar-login-btn-text {
    user-select: none;
    white-space: nowrap;
    color: rgba(18,19,20,1);
}

/* 검색 버튼 모달창 */
.search-modal-wrap {
    padding: 14vh !important;
    z-index: 1000;
    position: fixed; 
    display: none; 
    align-items: flex-start; 
    justify-content: center; 
    width: 100%; 
    inset: 0px; 
    padding: 14vh 16px 16px;
}

.search-modal-wrap.active {
    padding: 14vh !important;
    z-index: 1000;
    position: fixed; 
    display: flex; 
    align-items: flex-start; 
    justify-content: center; 
    width: 100%; 
    inset: 0px; 
    padding: 14vh 16px 16px;
}

.search-modal {
    max-width: 800px;
    width: 800px; 
    pointer-events: auto;
    transform: scale(0.99);
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.search-modal-wrap.active .search-modal {
    opacity: 1;
    transform: scale(1);
}

.search-modal-height-auto {
    height: auto;
}

.search-modal-header-wrap {
    margin-bottom: 8px;
    align-items: center;
    position: relative;
    display: flex;
}

.search-modal-header {
    justify-content: center;
    align-items: center;
    display: inline-flex;
    color: rgba(18,19,20,1);
    border-radius: 0px; 
    height: 20px; 
    padding: 0px;
}

.search-magnify-icon {
    left: 16px;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    position: absolute;
}

.search-modal-input {
    padding-left: 45px !important;
    border-color: rgba(86,105,143,0.1200);
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    box-shadow: 0px 0px 20px 0px rgba(24,37,61,0.0600);
    border-radius: 16px;
    padding: 20px;
    width: 800px;
    color: rgba(18,19,20,1);
    border: 1px solid;
    background-color: #ffffff;
    outline: none;
    display: flex;
    font-weight: 400;
    letter-spacing: -.28px;
    font-family: "PretendardVariable","PretendardVariable Fallback";
    font-size: 14px;
    line-height: 20px;
    border-width: 0;
}

.close-search-modal {
    right: 8px;
    top: 50%;
    justify-content: center;
    align-items: center;
    max-height: 36px;
    min-height: 36px;
    display: inline-flex;
    width: fit-content;
    border-radius: 999px;
    transform: translateY(-50%);
    padding: 8px;
    position: absolute;
    cursor: pointer;
}

.close-search-modal-icon {
    border-radius: 0px;
    height: 20px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    color: rgba(18,19,20,1);
}

.search-modal-main-wrap {
    border-color: rgba(86,105,143,0.1200);
    align-items: flex-start;
    flex-direction: column;
    box-shadow: 0px 0px 20px 0px rgba(24,37,61,0.0600);
    border-radius: 16px;
    max-width: 800px;
    height: auto;
    width: 800px;
    border: 1px solid;
    background: #ffffff;
    display: flex;
    border-width: 0;
}

.search-modal-list-wrap {
    align-items: flex-start;   
    flex-direction: row;
    align-self: stretch;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
}

.search-modal-list-wrap2 {
    height: 100%;
    width: 100%;
    display: flex;  
}

.search-modal-body-wrap {
    align-items: flex-start;
    flex-direction: column;
    max-height: 436px;
    height: 600px;
    gap: 12px;
    width: 100%;
    padding: 12px;
    flex: 1 0 0;
    display: flex;
}

.search-modal-group {
    align-items: center;
    display: inline-flex;
    gap: 4px;
}

.search-modal-group-section-active {
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition: background-color .3s;
    width: fit-content;
    height: 36px;
    background: #0aa5ff;
    padding-inline: 12px;
    cursor: pointer;
    position: relative;
    display: flex;
}

.search-modal-group-context-active {
    user-select: none;
    width: fit-content;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    color: #ffffff;
    letter-spacing: -.28px;
    font-family: "PretendardVariable","PretendardVariable Fallback";
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.search-modal-group-section {
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition: background-color .3s;
    width: fit-content;
    height: 36px;
    padding-inline: 12px;
    cursor: pointer;
    position: relative;
    display: flex;
}

.search-modal-group-context {
    user-select: none;
    width: fit-content;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    color: rgba(18,19,20,0.6000);
    letter-spacing: -.28px;
    font-family: "PretendardVariable","PretendardVariable Fallback";
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.search-modal-list {
    align-items: flex-start;
    overflow-y: auto;
    flex-direction: column;
    align-self: stretch;
    scrollbar-width: thin !important;
    scrollbar-gutter: stable !important;
    scrollbar-color: rgba(18,19,20,0.2400) transparent!important;
    flex: 1 1 0%;
    gap: 4px;
    display: flex;
}

.search-modal-list-section {
    align-items: center;
    border-radius: 8px;
    background: #ffffff;
    padding: 8px;
    gap: 12px;
    width: 100%;
    display: flex;
}

.search-modal-list-number {
    min-width: 12px;
    text-align: center;
    color: rgba(18,19,20,0.6000);
    letter-spacing: -.32px;
    font-family: "PretendardVariable","PretendardVariable Fallback";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.search-modal-list-member {
    align-items: flex-start;
    flex-direction: column;
    gap: 2px;
    flex: 1 0 0;
    display: flex;
}

.search-modal-list-name {
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: pre-line;
    color: rgba(18,19,20,1);
    width: 100%;
    letter-spacing: -.28px;
    font-family: "PretendardVariable","PretendardVariable Fallback";
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.search-modal-list-job {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: pre-line;
    color: rgba(18,19,20,0.6000);
    letter-spacing: -.24px;
    font-family: "PretendardVariable","PretendardVariable Fallback";
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.search-modal-company-wrap {
    border-color: rgba(86,105,143,0.1200) !important;
    flex-direction: column;
    border-top: none;
    max-height: 436px;
    height: 600px;
    border-left: 1px solid;
    gap: 8px;
    width: 100%;
    padding: 12px;
    flex: 1 0 0;
    display: flex;
}

.search-modal-company-wrap-top {
    justify-content: flex-end;
    align-items: center;
    padding: 8px;
    gap: 8px;
    width: 100%;
    display: flex;
}

.search-modal-company-text-wrap {
    align-items: center;
    gap: 6px;
    flex: 1 0 0;
    display: flex;
}

.search-modal-company-text {
    user-select: none;
    color: rgba(18,19,20,1);
    letter-spacing: -.28px;
    font-family: "PretendardVariable","PretendardVariable Fallback";
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.search-modal-company-all-wrap {
    justify-content: center;
    align-items: center;
    display: flex;
}

.search-modal-company-all-button {
    column-gap: 3px;
    justify-content: center;
    align-items: center;
    padding: 0 6px;
    min-height: 28px;
    max-height: 28px;
    display: inline-flex;
    width: fit-content;
    border-radius: 999px;
    cursor: pointer;
    letter-spacing: -.24px;
    font-family: "PretendardVariable","PretendardVariable Fallback";
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

.search-modal-company-all-text {
    user-select: none;
    color: rgba(18,19,20,0.6000);
    white-space: nowrap;
}

.search-modal-company-list-wrap {
    align-items: flex-start;
    overflow-y: auto;
    flex-direction: column;
    align-self: stretch;
    scrollbar-width: thin!important;
    scrollbar-gutter: stable!important;
    scrollbar-color: rgba(18,19,20,0.2400) transparent !important;
    flex: 1 1 0%;
    gap: 4px;
    display: flex;
}

.search-modal-company-list {
    align-items: center;
    border-radius: 8px;
    padding: 8px;
    gap: 12px;
    width: 100%;
    display: flex;
}

.search-modal-company-section {
    align-items: flex-start;
    flex-direction: column;
    gap: 2px;
    flex: 1 0 0;
    display: flex;
}

.search-modal-company-name {
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: pre-line;
    color: rgba(18,19,20,1);
    width: 100%;
    letter-spacing: -.28px;
    font-family: "PretendardVariable","PretendardVariable Fallback";
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.search-modal-company-experience {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: pre-line;
    color: rgba(18,19,20,0.6000);
    letter-spacing: -.24px;
    font-family: "PretendardVariable","PretendardVariable Fallback";
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.pc {
    display: block;
}
.mob {
    display: none;
}

/* 1023px 이하일 때: 모바일 */
@media (max-width: 1023px) {
    .pc {
        display: none;
    }
    .mob {
        display: block;
    }
}
