body {
    overflow: auto;
}

.main-content {
    align-items: flex-start;
    background: #fff;
    /* height: 100svh; */
    padding: 8px;
    gap: 8px;
    width: 100%;
    display: flex;
    overflow: scroll;
}

.main-shell {
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    background: #f5f6fa;
    min-width: 480px;
    border-radius: 12px;
    border: 1px solid rgba(24,37,61,0.0600);
    flex: 1 0 0;
    display: flex;
}

.main-body {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 12px;
    flex: 1 0 0;
    display: flex;
}

/* 배너 이미지 */
.banner-row {
    padding-top: 12px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: flex;
}

.banner-wrap {
    justify-content: center;
    width: 100%;
    position: relative;
    display: flex;
}

.banner-inner {
    position: relative;
    display: flex;
}

.company-banner {
    color: transparent;
    aspect-ratio: 5 / 1;
    border-radius: 12px;
    border: 1px solid;
    max-width: 100%;
    /* height: auto; */
}

/* 내용 */
.content-panel {
    align-items: flex-start;
    border: 1px solid rgba(255,255,255,0.0000);
    background: #fff;
    width: 100%;
    max-width: 1000px;
    flex: 1 0 0;
    display: flex;
    border-radius: 12px;
}

.panel-inner {
    align-items: center;
    gap: 10px;
    /* height: 100%; */
    flex: 1 0 0;
    display: flex;
}

.content-wrap {
    border: 1px solid rgba(255,255,255,0.0000);
    justify-content: center;
    /* height: 100%; */
    width: 100%;
    display: flex;
}

.content-stack {
    flex-direction: column;
    padding: 125px 130px 20px 130px;
    gap: 20px;
    width: 100%;
    display: flex;
}

.copy-block {
    align-items: self-start;
    margin-bottom: 80px;
    width: 690px;
}

/* 내용 - 타이틀 */
.copy-title-container {
    display: flex;
    white-space: pre-wrap;
}

.copy-title {
    font-weight: 700;
    font-size: 32px;
    padding-bottom: 20px;
}

.copy-subtitle {
    text-align: left;
    font-weight: 600;
    padding-bottom: 7px;
    font-size: 18px;
}

.copy-content-container {
    margin-top: 20px;
    gap: 50px;
    display: grid;
}

.copy-content-wrap {
    display: flex;
}

.copy-content {
    align-items: self-start;
    padding: 13px 0 10px 0;
}

/* 내용 - 본문 */
.copy-subtitle02 {
    text-align: left;
    font-weight: 600;
    padding-bottom: 7px;
    font-size: 20px;
}

.copy-description {
    text-align: left;
    font-weight: 500;
    max-width: 800px;
    color: #484949;
}

/* 사이드 이미지 */
.copy-side-image {
    margin-left: 25px;
}

.side-image {
    width: 470px;
    height: auto;
    border: 1px solid rgba(24,37,61,0.0600);
    border-radius: 12px;
}

.copy-side-image.left-side {
    margin-left: 0px;
    margin-right: 25px;
}

/* 마무리 문구 */
.closing-message {
    margin: 90px -60px 30px 0;
    display: flex;
    justify-content: flex-end;
}

.closing-text {
    font-size: 22px;
    font-weight: 600;
    padding: 22px 2px 0px 0;
    color: #aee1ff;
}

.closing-icon {
    height: 53px;
}

/* 기본: PC */
.pc {
    display: block;
}
.mob {
    display: none;
}

/* 1023px 이하일 때: 모바일 */
@media (max-width: 1023px) {
    .pc {
        display: none;
    }
    .mob {
        display: block;
    }
}