<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shorcut icon" href="../../static/images/member/kok_favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/font/font.css">
    <link rel="stylesheet" href="../../static/css/member/find-password-new.css">
    <title>kok</title>
</head>
<body>
    <div id="main-content" class="main-content">
        <main class="main">
            <div data-theme="light" class="page-container">
                <div class="form-container">
                    <div class="form-layout">

                        <!-- 로그인 페이지로 돌아가는 버튼 -->
                        <a href="">
                            <button class="btn-back">
                                <div draggable="false" class="btn-icon">
                                    <svg aria-label="icon" color="foregrounds.neutral.primary" fill="currentColor" height="20" role="img" width="20">
                                        <use href="#arrow-left-outline"></use>
                                    </svg>
                                </div>
                                <p class="btn-text">로그인</p>
                            </button>
                        </a>

                        <!-- 비밀번호 재설정 -->
                        <div class="title-box">
                            <div class="title-text">비밀번호 재설정</div>
                        </div>
                        <form class="find-email-form">
                            <div class="form-body">
                                <div class="form-group-wrapper">

                                    <!-- 새 비밀번호 등록 -->
                                    <div class="form-group">
                                        <div class="form-label-wrapper">
                                            <div class="form-label">새 비밀번호 등록</div>
                                        </div>
                                        <div class="form-input-wrapper">
                                            <div style="cursor:text" class="form-input">
                                                <input id="input-password" type="password" placeholder="비밀번호" style="cursor:text" class="input-text" value="">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- 새 비밀번호 확인 -->
                                    <div class="form-group">
                                        <div class="form-label-wrapper">
                                            <div class="form-label">새 비밀번호 확인</div>
                                        </div>
                                        <div class="form-input-wrapper">
                                            <div style="cursor:text" class="form-input">
                                                <input id="input-password-check" type="password" placeholder="비밀번호" style="cursor:text" class="input-text" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- 확인 버튼 -->
                            <button class="btn-submit inactive" style="backdrop-filter:blur(calc(var(--blurs-standard) / 2))" type="button">
                                <span class="btn-submit-text">확인</span>
                            </button>
                            
                        </form>
                    </div>
                </div>
            </div>

            <!-- toast - 비밀번호 공란 오류 -->
            <div id="toast-password" class="toast-warning">
                <div class="toast-warning-content">
                    <div class="toast-inner">
                        <div class="toast-icon">
                            <svg viewBox="0 0 24 24" fill="#f04452" height="20" role="img" width="20">
                                <path clip-rule="evenodd" d="M12 3.8a8.2 8.2 0 1 0 0 16.4 8.2 8.2 0 0 0 0-16.4M2.2 12c0-5.412 4.388-9.8 9.8-9.8s9.8 4.388 9.8 9.8-4.388 9.8-9.8 9.8-9.8-4.387-9.8-9.8M12 8.19a.8.8 0 0 1 .8.8V9a.8.8 0 0 1-1.6 0v-.01a.8.8 0 0 1 .8-.8m0 3.01a.8.8 0 0 1 .8.8v3a.8.8 0 0 1-1.6 0v-3a.8.8 0 0 1 .8-.8" fill-rule="evenodd"></path>
                            </svg>
                        </div>
                        <p>4자리 이상의 비밀번호를 입력해주세요.</p>
                    </div>
                </div>
            </div>

            <!-- toast - 비밀번호 입력 오류 -->
            <div id="toast-wrong-password" class="toast-warning">
                <div class="toast-warning-content">
                    <div class="toast-inner">
                        <div class="toast-icon">
                            <svg viewBox="0 0 24 24" fill="#f04452" height="20" role="img" width="20">
                                <path clip-rule="evenodd" d="M12 3.8a8.2 8.2 0 1 0 0 16.4 8.2 8.2 0 0 0 0-16.4M2.2 12c0-5.412 4.388-9.8 9.8-9.8s9.8 4.388 9.8 9.8-4.388 9.8-9.8 9.8-9.8-4.387-9.8-9.8M12 8.19a.8.8 0 0 1 .8.8V9a.8.8 0 0 1-1.6 0v-.01a.8.8 0 0 1 .8-.8m0 3.01a.8.8 0 0 1 .8.8v3a.8.8 0 0 1-1.6 0v-3a.8.8 0 0 1 .8-.8" fill-rule="evenodd"></path>
                            </svg>
                        </div>
                        <p>비밀번호가 일치하지 않습니다.</p>
                    </div>
                </div>
            </div>

            <!-- 심볼 -->
            <svg style="display:none" xmlns="http://www.w3.org/2000/svg">
                <symbol id="arrow-left-outline" viewBox="0 0 24 24">
                    <path clip-rule="evenodd" d="M11.566 5.435a.8.8 0 0 0-1.132 0l-6 6a.8.8 0 0 0 0 1.13l6 6a.8.8 0 1 0 1.132-1.13L6.93 12.8H19a.8.8 0 1 0 0-1.6H6.931l4.635-4.634a.8.8 0 0 0 0-1.131" fill-rule="evenodd"></path>
                </symbol>
                <symbol id="check-thick-outline" viewBox="0 0 24 24">
                    <path clip-rule="evenodd" d="M20.49 5.51a1.4 1.4 0 0 1 0 1.98l-11 11a1.4 1.4 0 0 1-1.98 0l-4-4a1.4 1.4 0 0 1 1.98-1.98l3.01 3.01L18.51 5.51a1.4 1.4 0 0 1 1.98 0" fill-rule="evenodd"></path>
                </symbol>
            </svg>
        </main>
    </div>
</body>
<script src="../../static/js/member/find-password-new/event.js"></script>
</html>