<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/font/font.css">
    <link rel="stylesheet" href="../../static/css/member/find-password-ok.css">
    <link rel="icon" href="../../static/images/member/kok_favicon.png">
    <title>kok</title>
</head>
<body>
    <div data-theme="light" class="page-container">
        <div class="form-container">
            <div class="form-layout">
                <!-- 로그인 페이지로 돌아가는 버튼 -->
                <a href="">
                    <button class="btn-back">
                        <div draggable="false" class="btn-icon">
                            <svg aria-label="icon" color="foregrounds.neutral.primary" fill="currentColor" height="20" role="img" width="20">
                                <use href="#arrow-left-outline"></use>
                            </svg>
                        </div>
                        <p class="btn-text">로그인</p>
                    </button>
                </a>

                <!-- 비밀번호 찾기 -->
                <div class="title-box">
                    <div class="title-text">비밀번호 찾기</div>
                </div>
                <form class="find-email-form">
                    <div class="form-body">
                        <div class="form-group-wrapper">

                            <!-- 이메일 발송 -->
                            <div class="form-group">
                                <img class="email-image" src="../../static/images/member/email.png">
                                <div class="form-label-wrapper">
                                    <div class="form-label">
                                        <div class="send-text-container">
                                            <span class="send-email-text">example@gmail.com </span><span class="send-text01">으로 </span><br>
                                        </div>
                                        <span span class="send-text01">비밀번호 재설정 메일이 발송되었습니다.</span>
                                    </div>
                                </div>
                                <div class="form-label-wrapper">
                                    <div class="form-label">
                                        <span class="send-text02">5분 후에도 메일이 오지 않는다면</span><br>
                                        <span class="send-text02">스팸함을 확인해 주세요.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- 심볼 -->
    <svg style="display:none" xmlns="http://www.w3.org/2000/svg">
        <symbol id="arrow-left-outline" viewBox="0 0 24 24">
            <path clip-rule="evenodd" d="M11.566 5.435a.8.8 0 0 0-1.132 0l-6 6a.8.8 0 0 0 0 1.13l6 6a.8.8 0 1 0 1.132-1.13L6.93 12.8H19a.8.8 0 1 0 0-1.6H6.931l4.635-4.634a.8.8 0 0 0 0-1.131" fill-rule="evenodd"></path>
        </symbol>
        <symbol id="check-thick-outline" viewBox="0 0 24 24">
            <path clip-rule="evenodd" d="M20.49 5.51a1.4 1.4 0 0 1 0 1.98l-11 11a1.4 1.4 0 0 1-1.98 0l-4-4a1.4 1.4 0 0 1 1.98-1.98l3.01 3.01L18.51 5.51a1.4 1.4 0 0 1 1.98 0" fill-rule="evenodd"></path>
        </symbol>
    </svg>
</body>
<script src="../../static/js/member/find-password-ok/event.js"></script>
</html>