.main {
    min-width: 100% !important;
}

/* 검색 */
.search-container {
    min-width: 600px;
    width: 1000px;
    padding: 12px;
    border-radius: 12px;
    background-color: #fff;
}

.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.search-list {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}


.search-item  {
    flex: 1;
    min-width: 120px;
    padding: 4px 18px;
    border-left: 1px solid rgba(24,37,61,0.0600);;
}

.search-item:first-child {
    flex: 3;
    border: none;
}

.search-item:last-child .dropdown-menu {
    right: -20px;
    left: auto;
}

.search-item input {
    width: 100%;
}

.search-label {
    display: flex;
    align-items: center;
}

.search-name {
    color: rgba(18,19,20,0.6000);
    cursor: pointer;
    font-size: 12px;
    letter-spacing: -0.24px;
    font-weight: 500;
    line-height: 18px;
}

.keyword-delete {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    height: 100%;
    padding: 0 12px;
    transform: translateY(-50%);
    color: rgba(18,19,20,0.4000);
}

/* 드롭다운 버튼 */
.dropdown-container {
    position: relative;
}

.dropdown-container:has(.dropdown-open-btn.active) .dropdown-menu {
    display: block;
}

.dropdown-open-btn {
    width: 100%;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.dropdown-menu {
    z-index: 999;
    display: none;
    height: auto;
    left: -20px;
    max-height: 700px;
    position: absolute;
    top: 30px;
    width: 220px;
    border-radius: 16px;
    color: rgba(18,19,20,0.6000);
    letter-spacing: -.24px;
    font-size: 12px;
    line-height: 18px;
    border: 1px solid rgba(24,37,61,0.0600);
    background-color: #fff;
    box-shadow: 0px 4px 20px 0px rgba(24,37,61,0.0600);
}

.dropdown-name {
    padding: 15px 20px 0;
}

.dropdown-content {
    padding: 8px;
}

.dropdown-list {
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: thin !important;
    scrollbar-gutter: stable !important;
    scrollbar-color: rgba(18,19,20,0.2400) transparent !important;
}

.dropdown-btn {
    width: 100%;
    padding: 10px 12px;
    position: relative;
}

.dropdown-btn p {
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: rgba(18,19,20,1);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.28px;
}

.dropdown-btn span {
    display: block;
    text-align: left;
}

.dropdown-btn.active::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 10px;
    width: 20px;
    height: 20px;
    margin-left: 8px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.066 5.935a.8.8 0 0 1 0 1.13l-11 11a.8.8 0 0 1-1.131 0l-4-4a.8.8 0 0 1 1.13-1.13L8.5 16.369 18.935 5.935a.8.8 0 0 1 1.13 0'/%3E%3C/svg%3E") no-repeat center/contain;
    background-size: cover;
    transform: translateY(-50%);
}

.dropdown-actions {
    padding: 12px;
    gap: 6px;
    display: flex;
}

.dropdown-actions button {
    padding: 0 8px;
    min-height: 36px;
    max-height: 36px;
    align-items: center;
    background-color: rgba(86,105,143,0.0600);
    border-radius: 999px;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -.28px;
    color: rgba(18,19,20,1);
}

.dropdown-actions .apply-btn {
    background-color: #0aa5ff;
    color: #fff;
}

.info-container {
    position: relative;
}

.info-icon {
    color: rgba(18,19,20,0.6000);
    margin-left: 4px;
}

.info-box {
    position: absolute;
    top: 20px;
    left: -58px;
    background-color: rgba(18,19,20,1);
    padding: 12px 16px;
    border-radius: 12px;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
    width: 336px;
    display: none;
}

.info-box strong {
    color: #fff;
    letter-spacing: -0.28px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.info-box p {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}

.info-icon:hover + .info-box {
    display: flex;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #7E8E99;
}

/* content */
.content-layout {
    display: flex;
    gap:12px;
    padding: 12px;
    flex-direction: column;
    margin: 0 auto;
}

.content-container {
    width: 1000px;
    display: flex;
    border-radius: 12px;
    background-color: #fff;
}

.content-main {
    flex: 1;
}

.content-side {
    display: none;
    flex: 0 0 auto;
    border-left: 1px solid rgba(24,37,61,0.0600);
    padding: 16px;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(50px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.content-side.active {
    display: flex;
    opacity: 1;
    transform: translateX(0);
}

/* 리스트 - 버튼 */
.sort-options {
    display: flex;
    align-items: center;
    padding: 0 12px;
    min-height: 56px;
    gap: 8px;
}

.sort-btn {
    border-radius: 8px;
    padding: 6px 10px;
    background-color: rgba(86,105,143,0.0600);
}

.sort-btn.active {
    color: #fff;
    background-color: #0aa5ff;
}


/* 리스트 */
.list-container {
    height: calc(100svh - 240px);
    overflow-y: auto;
}

.list-item {
    padding: 20px;
    border-top: 1px solid rgba(24,37,61,0.0600);
}

.list-item:first-child {
    border-top: none;
}

.list-item-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.list-item-header {
    display: flex;
    flex: 1;
    gap: 12px;
}

.list-item-thumb {
    width: 32px;
    height: 32px;
}

.list-item-content {
    text-align: left;
    width: calc(100% - 32px);
}

.list-item-content .list-item-title,
.list-item-content .list-item-description {
    letter-spacing: -.24px;
    font-size: 12px;
    line-height: 18px;
    color: rgba(18,19,20,0.6000);
}

.list-item-content .list-item-subtitle {
    letter-spacing: -.28px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.list-item-content .list-item-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.list-item-meta {
    display: flex;
    flex: 1;
    gap: 12px;
}

.list-item-meta-field {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
}

.list-item-label {
    font-size: 12px;
}

.list-item-icon {
    width: 16px;
    height: 16px;
    color: #0088FF;
}

.list-item-icon svg,
.list-item-icon path {
    display: flex;
    width: 16px;
    height: 16px;
    color: #0088FF;
}

.ad-banner {
    max-width: 287px;
    max-height: 143px;
    background-color: #eee;
    border-radius: 12px;
    overflow: hidden;
}

.content-side-bottom .ad-banner {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

.ad-banner:not(:first-child) {
    margin-top: 20px;
}

.ad-content {
    display: flex;
    flex-direction: column;
}

.ad-content p {
    color: rgba(18,19,20,0.6000);
    font-size: 12px;
    line-height: 18px;
}

.ad-content strong {
    letter-spacing: -.32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.ad-btn {
    letter-spacing: -.24px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 999px;
    color: #fff;
    background-color: rgba(18,19,20,1);
}

.no-data {
    text-align: center;
    padding: 30px 20px;
}

.no-data strong {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.no-data p {
    color: rgba(18, 19, 20, 0.6000);
}

/* 토스트 팝업 */
.toast-warning {
    max-width: 90vw;
    min-width: 360px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 100px);
    background-color: rgba(18,19,20,1);
    border-radius: 12px;
    box-shadow: 0px 4px 20px 0px rgba(24,37,61,0.0600);
    opacity: 0;
    transition: .5s ease;
    z-index: 9999;
}

.toast-warning-content {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -.28px;
    flex-direction: column;
    align-items: baseline;
}

.toast-inner {
    display: flex;
    gap: 6px;
    align-items: center;
}


.toast-warning.show {
    transform: translate(-50%, 0);
    opacity: 1;
}

/* 상세 페이지 */
.content-detail {
    display: none;
    opacity: 0;
    flex: 2.3;
    border-left: 1px solid rgba(24,37,61,0.0600);
    transform: translateX(50px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.content-detail.active {
    display: block;
    opacity: 1;
    transform: translateX(0);
}

.content-detail-header {
    padding: 12px;;
}

.detail-arrow-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 6px 10px;
}

.detail-arrow-btn p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    position: relative;
    top: 3px;
}

.content-detail-body {
    padding: 12px;
    height: calc(100svh - 240px);
    overflow: auto;
}

button.list-item-header {
    width: 100%;
    padding: 8px;
    background: no-repeat right url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%2312131499' viewBox='0 0 24 24'><path d='M9.434 6.435a.8.8 0 0 1 1.132 0l5 5a.8.8 0 0 1 0 1.13l-5 5a.8.8 0 1 1-1.132-1.13L13.87 12 9.434 7.566a.8.8 0 0 1 0-1.131'/></svg>");
    background-size: 24px 24px;
}

button.list-item-header .list-item-title {
    letter-spacing: -.28px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: rgba(18,19,20,1);
}

.profile-stats {
    display: flex;
    color: rgba(18,19,20,0.6000);
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin-top: 2px;
}

.profile-stats .profile-stat-item {
    position: relative;
}

.profile-stats .profile-stat-item:not(:first-child)::before {
    content: '·';
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
}

.profile-stats .profile-stat-item:not(:first-child) {
    margin-left: 13px;
}

.detail-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
    padding: 0 8px;
}

.detail-header {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.detail-title {
    display: block;
    letter-spacing: -.48px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
}

.detail-subtitle {
    color: rgba(18,19,20,0.6000);
    letter-spacing: -.28px;
    font-size: 14px;
    line-height: 20px;;
}

.detail-actions {
    display: flex;
    gap: 8px;
    padding: 8px 0;
}

.detail-action-btn {
    height: 36px;
    padding: 0 12px;
    font-weight: 500;
    border-radius: 999px;
    background-color: rgba(86,105,143,0.0600);
}

.detail-action-btn:first-child {
    background-color: #0aa5ff;
    color: #fff;
}

.detail-action-btn:first-child:hover {
    background-color: #40b9ff;
}

.detail-meta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.detail-meta-item {
  display: flex;
  gap: 4px;
  padding: 12px 8px;
  border-bottom: 1px solid rgba(24,37,61,0.0600);
}

.detail-meta-item .meta-label {
    flex: 1;
    color: rgba(18,19,20,0.6000);
}

.detail-meta-item .meta-value {
    flex: 2;
}

/* deadline-info */
.deadline-info {
    border-radius: 8px;
    padding: 12px 16px;
    background-color: rgba(86,105,143,0.0600);
}

.deadline-description {
    font-size: 12px;
    color: rgba(18,19,20,0.6000);
}

/* detail-description */
.detail-description {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 8px;
}

.detail-item-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -.32px;
}

.detail-item-content {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: -.28px;
    margin-top: 8px;
    white-space: pre-line;
}

/* 패널 팝업 */
/* popup */
.popup-container.pop-side {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 360px;
    display: flex;
    z-index: 1000;
    border-radius: 16px;
    background-color: #fff;
    border: 1px solid rgba(86,105,143,0.1200);
    box-shadow: 0px 4px 20px 0px rgba(24,37,61,0.0600);
}

.pop-side .popup-action > .pop-btn {
    height: 56px;
}

.popup-inner {
    width: 100%;
}

.popup-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding-left: 20px;
    border-bottom: 1px solid rgba(24,37,61,0.0600);
}

.popup-title-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-title-container .popup-title {
    font-size: 16px;
    font-weight: 500;
}

.popup-title {
    font-size: 18px;
    line-height: 26px;
}

.popup-description {
    color: rgba(18,19,20,0.6000);
    font-size: 12px;
}

.popup-close {
    height: 100%;
    padding: 0 20px;
}

.popup-prev {
    height: 100%;
    padding-right: 20px;
}

.popup-body {
    padding: 20px;
}

.popup-body.scroll {
    max-height: 436px;
    overflow: auto;
}

.popup-body .no-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    height: 396px;
    justify-content: center;
}

.popup-body .no-data .title {
    color: rgba(18,19,20,1);
    letter-spacing: -.32px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.popup-body .no-data .description {
    color: rgba(18,19,20,0.6000);
    font-weight: 400;
    letter-spacing: -.28px;
    font-size: 14px;
    line-height: 20px;
}

.popup-body .no-data button {
    width: max-content;
    padding: 0 12px;
    height: 36px;
    border-radius: 999px;
}

.popup-title-box {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 8px;
}

.popup-body .popup-title {
    letter-spacing: -.48px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
}

.popup-body .popup-sub-title {
    letter-spacing: -.28px;
    font-size: 14px;
    line-height: 20px;
}

/* form-list */
.form-list {
    display: flex;
    gap: 8px;
    width: 100%;
}

.form-list.form-row {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-item {
    width: 100%;
}

.form-item .form-label + .form-field {
    margin-top: 6px;
}

.form-item .form-label {
    margin-left: 8px;
    color: rgba(18,19,20,1);
    font-weight: 500;
}

.form-item.line {
    border-top: 1px solid rgba(24,37,61,0.0600);
    padding-top: 23px;
    margin-top: 8px;
}

.form-item .file-icon {
    width: 32px;
    height: 32px;
    background-color: #ccc;
    border-radius: 8px;
    background: url("../../../images/experience/list/icon_file_default.svg");
}

.form-field {
    border: 1px solid rgba(24,37,61,0.0600);
    border-radius: 12px;
}

.form-field input {
    height: 50px;
    padding: 0 12px;
    width: 100%;
}

.form-field > button {
    height: 50px;
    padding: 0 12px;
    width: 100%;
    text-align: left;
    background-color: transparent;
    color: rgba(18,19,20,0.6000);
    background-position: right 12px center;
    background: right 12px center / 24px 24px 
    no-repeat url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='rgba(18,19,20,0.4)'><path fill-rule='evenodd' clip-rule='evenodd' d='M6.434 9.435a.8.8 0 0 1 1.132 0L12 13.869l4.434-4.434a.8.8 0 1 1 1.132 1.13l-5 5a.8.8 0 0 1-1.132 0l-5-5a.8.8 0 0 1 0-1.13'/></svg>");
}

.form-field-dropdown {
    position: relative;
}

.form-field-dropdown .option-menu {
    top: 60px;
    left: 0;
    z-index: 999;
    width: 158px;
}

.file-list .form-item {
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.file-label {
    width: 100%;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    color: rgba(0,0,0,0.5);
}

.file-container {
    display: flex;
    gap: 8px;
}

.form-file-label {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 12px;
    color: rgba(0,0,0,0.5);
    cursor: pointer;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    line-height: 50px;
    padding-right: 40px;
    background-position: right 12px center;
    background: right 12px center / 24px 24px 
    no-repeat url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='rgba(18,19,20,0.4)'><path fill-rule='evenodd' clip-rule='evenodd' d='M6.434 9.435a.8.8 0 0 1 1.132 0L12 13.869l4.434-4.434a.8.8 0 1 1 1.132 1.13l-5 5a.8.8 0 0 1-1.132 0l-5-5a.8.8 0 0 1 0-1.13'/></svg>");
}

.btn-check-container .btn-check {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    background-color: rgba(18,19,20,1);
}

.file-container .file-label {
    font-weight: 500;
}

.file-container .file-name {
    color: rgba(18,19,20,0.6000);
    font-size: 12px;
}

.file-container .file-name.url {
    color: #0088FF;
}

.must {
    color: #0aa5ff;
    margin-left: 4px;   
}

.popup-action {
    position: relative;
    display: flex;
    padding: 16px;
    text-align: center;
    gap: 8px;
}

.popup-action.line {
    border-top: 1px solid rgba(24,37,61,0.0600);
}

.popup-action.popup-btn-row {
    display: flex;
    flex-direction: column;
}

.popup-action.popup-btn-row > .pop-btn {
    height: 56px;
    flex: auto;
}

.popup-action > .pop-btn {
    flex: 1;
    border-radius: 999px;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
}

.option-menu {
    display: none;
    position: absolute;
    top: -90px;
    left: 16px;
    background: #fff;
    box-shadow: 0px 4px 20px 0px rgba(24, 37, 61, 0.0600);
    width: 220px;
    border-radius: 16px;
    border: 1px solid rgba(24,37,61,0.0600);
    padding: 8px;
}

.option-menu.active {
    display: block;
}

.option-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.option-item .option-btn {
    width: 100%;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* popup 팝업 */
.popup-container {
    display: none !important;
}

.popup-container.active {
    display: flex !important;
}

.popup-container.pop-center {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3200);
    overscroll-behavior: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-container.pop-default .popup-inner {
    width: 360px;
}

.popup-inner {
    background-color: #fff;
    width: 640px;
    border-radius: 20px;
}

.popup-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding-left: 20px;
    border-bottom: 1px solid rgba(24,37,61,0.0600);
}

.popup-close {
    height: 100%;
    padding: 0 20px;
}



/* flex */
.flex-1 {
    flex: 1;
}

.flex-1-1 {
    flex: 1.1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}


/* 버튼 */
.btn-primary {
    width: 100%;
    background-color: #0aa5ff;
    color: #fff;
}

.btn-default {
    width: 100%;
    background-color: rgba(86,105,143,0.0600);
}

button:disabled {
    opacity: .4;
    cursor: not-allowed;
}

/* 체크박스 */
.radio-box input[type="radio"] {
  display: none;
}

.icon-radio {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(86,105,143,0.1600);
  border-radius: 6px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
}

.icon-radio:has(input[type="radio"]:checked) {
  background: url("../../../images/experience/list/icon_check.svg") center / 20px 20px no-repeat #000;
}

/* 인풋 */
input:-internal-autofill-selected {
    border-radius: 12px;
    overflow: hidden;
}




/* 반응형 */
@media (max-width: 1023px) {
    .content-layout {
        width: 100%;
        padding: 0;
        gap: 5px;
    }

    .search-container {
        width: 100%;
        padding: 12px;
        min-width: 100%;
        background-color: transparent;
    }

    .search-box {
        position: relative;
    }
    
    .search-list {
        margin-top: 65px;
    }

    .search-item:nth-child(2) {
        border-left: none;
    }

    .search-item {
        min-width: auto;
        border-left: none;
    }

    .search-item:not(:first-child) {
        padding: 0 12px;
    }

    .search-input-item {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(86, 105, 143, 0.0600);
        border-radius: 999px;
    }

    .search-input-item .search-label {
        display: none;
    }

    .search-input-item input {
        padding: 10px;
        padding-left: 22px;
        padding-right: 25px;
    }

    .search-button {
        position: absolute;
        left: 0;
        top: 0;
        background-color: transparent;
    }

    .search-button svg {
        fill: rgba(18,19,20,0.4000);;
    }

    .content-side {
        display: none !important;
    }

    .list-container {
        height: calc(100svh - 210px);
    }

    .list-item-btn {
        flex-direction: column;
        align-items: flex-start;
    }

    .list-item-meta {
        width: 80%;
        margin: 0 auto;
    }

    .popup-container.pop-side {
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .popup-container.pop-center {
        align-items: end;
    }

    .popup-container.pop-side .popup-inner {
        width: 100%;
    }

    .popup-inner {
        width: 100% !important;
        border-radius: 20px 20px 0 0;
    }

    .form-item.flex-1-1 {
        flex: 1;
        width: 50%;
    }

    .form-item.flex-3 {
        flex: 1;
        width: 50%;
    }

    .detail-meta {
        grid-template-columns: repeat(1, 1fr);
    }

    .content-container {
        width: 100%;
        border-radius: 12px 12px 0  0;
    }

    .content-detail-body {
        height: calc(100svh - 120px);
    }

    .popup-body .no-data {
        height: auto;
    }

    .form-field-dropdown .option-menu {
        top: -180px;
    }

    /* 토스트 팝업 */
    .toast-warning {
        top: 20px;
        bottom: auto;
        width: min(calc(100dvw - 32px), 360px);
        min-width: auto;
        max-width: 360px;
        transform: translate(-50%, -80px);
    }
}

















/* 기본: PC */
.pc {
    display: block;
}
.mob {
    display: none;
}

/* 1023px 이하일 때: 모바일 */
@media (max-width: 1023px) {
    .pc {
        display: none;
    }
    .mob {
        display: block;
    }
}