<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/enterprise-console/console-experience-upload.css">
    <link rel="stylesheet" href="../../static/css/enterprise-console/console-sidebar.css">
    <link rel="stylesheet" href="../../static/css/enterprise-console/console-header.css">
    <link rel="stylesheet" href="../../static/font/font.css">
    <link rel="shorcut icon" href="../../static/images/member/kok_favicon.png" type="image/x-icon">
    <title>체험 공고 수정 | 콕</title>
</head>
<body>
    <div class="wrap-enter">
        <!-- 사이드바 시작 -->
        <div class="sidebar-wrap">
            <div class="sidebar-hidden"></div>
            <div class="sidebar-main">
                <div class="sidebar-main-inner">
                    <div class="sidebar-logo">
                        <ul class="logo-ul">
                            <li class="logo-li">
                                <button class="logo-button" id="ser-ch-button">
                                    <div class="logo-img-div">
                                        <img src="../../static/images/console/console-logo.png" alt="" class="logo">
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="logo-svg"><path d="m7 15 5 5 5-5"></path><path d="m7 9 5-5 5 5"></path></svg>
                                </button>
                            </li>
                        </ul>
                        <div>
                            <span class="logo-span">콕 기업용 콘솔</span>
                        </div>
                    </div>
                    <div class="sidebar-list">
                        <div>
                            <div class="home-div">
                                <ul class="sidebar-ul">
                                    <li class="sidebar-li">
                                        <a href="" class="sidebar-a side-hov">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="home-svg"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"></path><path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path></svg>
                                            <span class="sidebar-span">홈</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="bar-line"></div>
                        </div>
                        <div>
                            <div class="prof-wrap">
                                <div class="sidebar-text">기본 정보</div>
                                <ul class="sidebar-ul">
                                    <li class="sidebar-li">
                                        <a href="" class="sidebar-a side-hov">
                                            <img src="../../static/images/member/kok_logo.png" alt="" class="prof-img">
                                            <span class="sidebar-span">기업 프로필</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="bar-line"></div>
                        </div>
                        <div>
                            <div class="exp-wrap">
                                <div class="sidebar-text">체험</div>
                                <ul class="sidebar-ul">
                                    <li class="sidebar-li">
                                        <button class="side-list-button side-hov" id="list-exp-button">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="home-svg"><path d="M16 20V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path><rect width="20" height="14" x="2" y="6" rx="2"></rect></svg>
                                            <span class="sidebar-span">체험 공고</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-updown"><path d="m9 18 6-6-6-6"></path></svg>
                                        </button>
                                        <div class="sidebar-sub-div" id="list-exp">
                                            <ul class="sidebar-sub-ul">
                                                <li class="sidebar-sub-li">
                                                    <a href="" class="sidebar-sub-a">
                                                        <span class="sidebar-span">체험 공고 목록</span>
                                                    </a>
                                                </li>
                                                <li class="sidebar-sub-li">
                                                    <a href="" class="sidebar-sub-a">
                                                        <span class="sidebar-span">체험 공고 등록</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="bar-line"></div>
                        </div>
                        <div>
                            <div class="hire-wrap">
                                <div class="sidebar-text">인턴</div>
                                <ul class="sidebar-ul">
                                    <li class="sidebar-li">
                                        <button class="side-list-button side-hov" id="list-intern-button">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="home-svg"><path d="M21.42 10.922a1 1 0 0 0-.019-1.838L12.83 5.18a2 2 0 0 0-1.66 0L2.6 9.08a1 1 0 0 0 0 1.832l8.57 3.908a2 2 0 0 0 1.66 0z"></path><path d="M22 10v6"></path><path d="M6 12.5V16a6 3 0 0 0 12 0v-3.5"></path></svg>
                                            <span class="sidebar-span">인턴 고용 공고</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-updown"><path d="m9 18 6-6-6-6"></path></svg>
                                        </button>
                                        <div class="sidebar-sub-div" id="list-intern">
                                            <ul class="sidebar-sub-ul">
                                                <li class="sidebar-sub-li">
                                                    <a href="" class="sidebar-sub-a">
                                                        <span class="sidebar-span">인턴 고용 공고 목록</span>
                                                    </a>
                                                </li>
                                                <li class="sidebar-sub-li">
                                                    <a href="" class="sidebar-sub-a">
                                                        <span class="sidebar-span">인턴 고용 공고 등록</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="bar-line"></div>
                        </div>
                        <div>
                            <div class="prof-wrap">
                                <div class="sidebar-text">광고</div>
                                <ul class="sidebar-ul">
                                    <li class="sidebar-li">
                                        <a href="" class="sidebar-a side-hov">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="home-svg"><path d="M5 12h14"></path><path d="M12 5v14"></path></svg>
                                            <span class="sidebar-span">광고 목록</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="bar-line"></div>
                        </div>
                        <div>
                            <div class="prof-wrap">
                                <div class="sidebar-text">결제</div>
                                <ul class="sidebar-ul">
                                    <li class="sidebar-li">
                                        <a href="" class="sidebar-a side-hov">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="home-svg"><rect width="20" height="14" x="2" y="5" rx="2"></rect><line x1="2" x2="22" y1="10" y2="10"></line></svg>
                                            <span>결제 관리</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer">
                            <div class="bar-line"></div>
                            <div class="footer-title">콕 기업용 콘솔</div>
                            <div class="footer-main-wrap">
                                <div class="footer-main">
                                    <p class="footer-p">© 2025 KOK, 주식회사 콕, 콕 팀, 대한민국 서울특별시 테헤란로, 00000, test@rocketpunch.com, +82 10-0000-00000</p>
                                    <div class="footer-sub">
                                        <p class="footer-p">사업자등록번호 000-00-00000</p>
                                        <p class="footer-p">통신판매업신고번호 2025-지역이름-0000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-profile">
                        <ul class="side-prof-ul">
                            <li class="side-prof-li">
                                <button class="side-prof-button side-hov">
                                    <span class="side-prof-span">
                                        <img src="../../static/images/main-page/image.png" alt="" class="side-prof-img">
                                    </span>
                                    <div class="side-prof-div">
                                        <span class="side-name">홍길동</span>
                                        <span class="side-job">회사 산업 분야</span>
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="logo-svg"><path d="m7 15 5 5 5-5"></path><path d="m7 9 5-5 5 5"></path></svg>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-change-wrap" id="ser-ch-div" style="display: none;">
            <div class="service-change">
                <div class="ser-ch-title">서비스 전환</div>
                <div class="bar-line-ch"></div>
                <div class="home-ch">
                    <div class="home-ch-inner">
                        <span class="home-ch-title">KOK</span>
                        <span class="home-ch-sub-title">콕</span>
                    </div>
                </div>
                <div class="console-ch">
                    <div class="console-ch-inner">
                        <span class="console-ch-title">Enterprise console</span>
                        <span class="console-ch-sub-title">기업 콘솔</span>
                    </div>
                    <div class="active-service"></div>
                </div>
            </div>
        </div>
        <!-- 사이드바 끝 -->
         <main class="main">
            <header class="header">
                <div class="header-wrap">
                    <nav class="breadcrumb">
                        <ol class="header-ol">
                            <li class="header-li">
                                <span class="header-span">기업용 콘솔</span>
                            </li>
                        </ol>
                    </nav>
                </div>
            </header>
            <div class="upload-wrap">
                <div class="upload-wrap2">
                    <div class="upload-wrap-inner">
                        <div class="upload-wrap-inner2">
                            <div class="home-top">
                                <div class="back-back">
                                    <button class="back-btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="back-svg"><path d="m12 19-7-7 7-7"></path><path d="M19 12H5"></path></svg>
                                        뒤로가기
                                    </button>
                                </div>
                                <div>
                                    <h1 class="top-h1">공고 수정하기</h1>
                                    <p class="top-p">등록한 체험 공고를 수정하세요.</p>
                                </div>
                            </div>
                            <div class="upload-main">
                                <div class="write-area">
                                    <div class="cards">
                                        <div class="card-title">
                                            <div class="main-title">체험 정보</div>
                                            <div class="sub-title">기본적인 체험 정보를 입력하세요</div>
                                        </div>
                                        <div class="card-content">
                                            <div class="contents-line">
                                                <div class="contents">
                                                    <label for="" class="content-label">
                                                        체험 공고 제목
                                                        <span class="content-span">
                                                            (최대 30자)
                                                        </span>
                                                    </label>
                                                    <input type="text" class="content-input" placeholder="예: 프론트엔드 개발자" value="test">
                                                </div>
                                                <div class="contents">
                                                    <label for="" class="content-label">
                                                        체험 공고 부제목
                                                        <span class="content-span">
                                                            (최대 50자)
                                                        </span>
                                                    </label>
                                                    <input type="text" class="content-input" placeholder="기술 스택, 주요 업무, 키워드" value="test">
                                                </div>
                                            </div>
                                            <div class="contents-line">
                                                <div class="contents">
                                                    <label for="" class="content-label">직군</label>
                                                    <button class="search-btn">
                                            <span class="search-span">SW 개발</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="category-svg" aria-hidden="true"><path d="m6 9 6 6 6-6"></path></svg>
                                            <div class="job">
                                            <div class="job-1">
                                                <div class="job-2">
                                                    <div class="job-3">
                                                        <div class="job-5">
                                                            <p class="job-6">모든 직군</p>
                                                        </div>
                                                        <div class="setting-31">
                                                            <svg aria-label="icon" color="foregrounds.neutral.tertiary" fill="currentColor" height="24" role="img" width="24">
                                                                <path clip-rule="evenodd" d="M20.066 5.935a.8.8 0 0 1 0 1.13l-11 11a.8.8 0 0 1-1.131 0l-4-4a.8.8 0 0 1 1.13-1.13L8.5 16.369 18.935 5.935a.8.8 0 0 1 1.13 0" fill-rule="evenodd"></path>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <div class="job-3">
                                                        <div class="job-5">
                                                            <p class="job-6">SW 개발</p>
                                                        </div>
                                                    </div>
                                                    <div class="job-3">
                                                        <div class="job-5">
                                                            <p class="job-6">데이터/AI</p>
                                                        </div>
                                                    </div>
                                                    <div class="job-3">
                                                        <div class="job-5">
                                                            <p class="job-6">기획/전략</p>
                                                        </div>
                                                    </div>
                                                    <div class="job-3">
                                                        <div class="job-5">
                                                            <p class="job-6">디자인/UX</p>
                                                        </div>
                                                    </div>
                                                    <div class="job-3">
                                                        <div class="job-5">
                                                            <p class="job-6">마케팅/PR</p>
                                                        </div>
                                                    </div>
                                                    <div class="job-3">
                                                        <div class="job-5">
                                                            <p class="job-6">경영/운영</p>
                                                        </div>
                                                    </div>
                                                    <div class="job-3">
                                                        <div class="job-5">
                                                            <p class="job-6">HR/인사</p>
                                                        </div>
                                                    </div>
                                                    <div class="job-3">
                                                        <div class="job-5">
                                                            <p class="job-6">회계/재무</p>
                                                        </div>
                                                    </div>
                                                    <div class="job-3">
                                                        <div class="job-5">
                                                            <p class="job-6">법률/법무</p>
                                                        </div>
                                                    </div>
                                                    <div class="job-3">
                                                        <div class="job-5">
                                                            <p class="job-6">상담/영업</p>
                                                        </div>
                                                    </div>
                                                    <div class="job-3">
                                                        <div class="job-5">
                                                            <p class="job-6">교육/복지</p>
                                                        </div>
                                                    </div>
                                                    <div class="job-3">
                                                        <div class="job-5">
                                                            <p class="job-6">HW 개발</p>
                                                        </div>
                                                    </div>
                                                    <div class="job-3">
                                                        <div class="job-5">
                                                            <p class="job-6">연구/R&D</p>
                                                        </div>
                                                    </div>
                                                    <div class="job-3">
                                                        <div class="job-5">
                                                            <p class="job-6">금융/투자</p>
                                                        </div>
                                                    </div>
                                                    <div class="job-3">
                                                        <div class="job-5">
                                                            <p class="job-6">의료/바이오</p>
                                                        </div>
                                                    </div>
                                                    <div class="job-3">
                                                        <div class="job-5">
                                                            <p class="job-6">건설/부동산</p>
                                                        </div>
                                                    </div>
                                                    <div class="job-3">
                                                        <div class="job-5">
                                                            <p class="job-6">미디어/출판</p>
                                                        </div>
                                                    </div>
                                                    <div class="job-3">
                                                        <div class="job-5">
                                                            <p class="job-6">제조/생산</p>
                                                        </div>
                                                    </div>
                                                    <div class="job-3">
                                                        <div class="job-5">
                                                            <p class="job-6">운전/물류</p>
                                                        </div>
                                                    </div>
                                                    <div class="job-3">
                                                        <div class="job-5">
                                                            <p class="job-6">식품/조리</p>
                                                        </div>
                                                    </div>
                                                    <div class="job-3">
                                                        <div class="job-5">
                                                            <p class="job-6">숙박/레저</p>
                                                        </div>
                                                    </div>
                                                    <div class="job-3">
                                                        <div class="job-5">
                                                            <p class="job-6">서비스</p>
                                                        </div>
                                                    </div>
                                                    <div class="job-3">
                                                        <div class="job-5">
                                                            <p class="job-6">종교인</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                                </div>
                                                <div class="contents">
                                                    <label for="" class="content-label">체험일(시작일, 종료일)</label>
                                                    <div class="flex">
                                                        <input type="text" class="content-input-half" placeholder="yyyy-mm-dd" value="2025-11-01">
                                                        <input type="text" class="content-input-half" placeholder="yyyy-mm-dd" value="2025-11-01">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cards">
                                        <div class="card-title">
                                            <div class="main-title">공고 상세</div>
                                            <div class="sub-title">상세한 체험 내용을 작성하세요</div>
                                        </div>
                                        <div class="card-content">
                                            <div class="contents">
                                                <label for="" class="content-label">직무소개</label>
                                                <textarea name="" id="" class="textarea">test</textarea>
                                            </div>
                                            <div class="contents">
                                                <label for="" class="content-label">주요 업무</label>
                                                <textarea name="" id="" class="textarea">test</textarea>
                                            </div>
                                            <div class="contents">
                                                <label for="" class="content-label">참고사항</label>
                                                <textarea name="" id="" class="textarea">test</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="select-area">
                                    <div class="cards">
                                        <div class="card-title">
                                            <div class="main-title">게시 기간</div>
                                            <div class="sub-title">한국 표준시 기준</div>
                                        </div>
                                        <div class="card-content">
                                            <div class="content-wrapper">
                                                <div class="card-sub">
                                                    <label for="" class="content-label">시작일</label>
                                                    <input type="text" class="content-input" placeholder="yyyy-mm-dd" value="2025-09-15">
                                                </div>
                                                <div class="card-sub">
                                                    <label for="" class="content-label">종료일</label>
                                                    <input type="text" class="content-input" placeholder="yyyy-mm-dd" value="2025-12-31">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cards">
                                        <div class="card-title">
                                            <div class="main-title">게시 관리</div>
                                        </div>
                                        <div class="card-content">
                                            <div class="buttons">
                                                <button class="b-btn" id="surego">체험 공고 수정하기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </main>
    </div>
    <div class="darkback" id="drkb"></div>
    <div class="sure" id="squa">
        <div class="sure-title">
            <h2 class="sure-h2">체험 공고를 등록하시겠습니까?</h2>
            <p class="sure-p">공고가 즉시 활성화됩니다.</p>
        </div>
        <div class="sure-buttons">
            <button class="sure-no">취소</button>
            <button class="sure-yes">등록하기</button>
        </div>
    </div>
</body>
<script src="../../static/js/console/upload/event.js"></script>
<script src="../../static/js/console/sidebar/event.js"></script>
</html>