.company-intro {
    padding: 0 8px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.btn-primary {
    color: #fff;
    background-color: #0aa5ff;
}

.content-19.active {
    margin-bottom: 0;
}