body {
    background: #fff;
    color: 46px;
}

body {
    height: 100%;
    line-height: inherit;
}

img, video {
    max-width: 100%;
    height: auto;
}

button {
    color: inherit;
    outline: 2px solid transparent;
}


div.login-page {
	align-items: center;
	background: #f5f6fa;
	display: flex;
	height: 100svh;
	justify-content: center;
	align-items: anchor-center;
	width: 100%;
}

div.login-container {
	align-items: center;
	height: 100%;
	gap: 20px;
	overflow-y: auto;
	flex-shrink: 0;
	display: flex;
	width: 100%;
	justify-content: center;
}

/* 좌측 이미지 */
div.image-container {
	position: relative;
	height: 100%;
	border-radius: 12px;
	overflow: hidden;
	padding: 20px;
	width: 100%;
}

div.logo-pos {
	position: absolute;
	transform: translateX(-50%);
	left: 8%;
	top: 40px;
}

div.logo-container {
	display: inline-flex;
	color: rgba(18, 19, 20, 1);
	align-items: center;
	flex-shrink: 0;

}

div.right-side {
	flex-direction: column;
	align-items: center;
	height: 100%;
	display: flex;
	width: 100%;
	justify-content: center;
}

div.input-container {
	gap: 30px;
	max-width: 384px;
	flex-direction: column;
	align-items: center;
	height: 100%;
	padding: 20px;
	overflow-y: auto;
	display: flex;
	width: 100%;
	justify-content: center;
}

.input-container.member {
	transform: translateY(-47px);
	transition: .3s ease-out;

}

.input-container.company {
	transform: translateY(8px);
	transition: .3s ease-out;
}

div.login-title {
	align-items: flex-start;
	flex-direction: column;
	gap: 20px;
	display: flex;
	width: 100%;
}

div.title-content {
	letter-spacing: -.64px;
	font-family: "PretendardVariable", "PretendardVariable Fallback";
	font-size: 32px;
	font-weight: 700;
	line-height: 46px;
	white-space: pre-line;
	color: rgba(18, 19, 20, 1);
}

div.input-content-container {
	gap: 28px;
	align-items: flex-start;
	flex-direction: column;
	display: flex;
	width: 100%;
}

div.select-container {
	display: inline-flex;
	gap: 6px;
	align-items: center;
}

/* 로그인 방법 선택 스타일 */
/* 선택 */
div.select-login-type {
	background: rgba(86, 105, 143, 0.0600);
	color: rgba(18, 19, 20, 1);
}

/* 미선택 */
div.unselected {
    background: none;
    color: rgb(111 111 111 / 60%);
}

div.general-member {
	cursor: pointer;
	height: 40px;
	border-radius: 8px;
	width: fit-content;
	padding-inline: 16px;
	transition: background-color .3s;
	transition: color .3s;
	align-items: center;
	position: relative;
	display: flex;
	justify-content: center;
}

p.general-p {
	letter-spacing: -.28px;
	font-family: "PretendardVariable", "PretendardVariable Fallback";
	font-size: 14px;
	line-height: 20px;
	white-space: nowrap;
	font-weight: 500;
	text-align: center;
	text-overflow: ellipsis;
	user-select: none;
	width: fit-content;
}

div.company-member {
	cursor: pointer;
	height: 40px;
	border-radius: 8px;
	width: fit-content;
	padding-inline: 16px;
	transition: background-color .3s;
	transition: color .3s;
	align-items: center;
	position: relative;
	display: flex;
	justify-content: center;
}

.company-p {
	letter-spacing: -.28px;
	font-family: "PretendardVariable", "PretendardVariable Fallback";
	font-size: 14px;
	line-height: 20px;
	white-space: nowrap;
	font-weight: 500;
	text-align: center;
	text-overflow: ellipsis;
	user-select: none;
	width: fit-content;
}

.login-content-container {
	opacity: 1;
	transition: all .3s;
	flex-direction: column;
	align-items: center;
	display: flex;
	width: 100%;
}

.width100 {
	width: 100%;
}

.login-content {
	align-items: flex-start;
	flex-direction: column;
	display: flex;
	width: 100%;
}

.email-password-container {
	gap: 25px;
	align-items: flex-start;
	flex-direction: column;
	display: flex;
	width: 100%;
}

.email-container {
	gap: 12px;
	align-items: center;
	display: flex;
	width: 100%;
}

.email-input-container {
	align-items: flex-start;
	flex-direction: column;
	display: flex;
	width: 100%;
}

.email-content {
	gap: 4px;
	padding: 0 8px 6px;
	align-items: center;
	display: flex;
	width: 100%;
}

.email-content-style {
	letter-spacing: -.28px;
	font-family: "PretendardVariable", "PretendardVariable Fallback";
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;
	color: rgba(18, 19, 20, 1);
}

.email-input-box01 {
	border: 1px solid rgba(86, 105, 143, 0.1200);
	background: rgb(0 0 0 / 0);
	min-width: 32px;
	min-height: 44px;
	padding: 6px;
	flex-direction: row;
	align-items: center;
	border-radius: 12px;
	display: flex;
	width: 100%;
}

.email-input-box02 {
	flex: 1 0 0;
	padding: 8px;
	display: flex;
	width: 100%;
}

.email-input {
	background-color: rgb(0 0 0 / 0);
	letter-spacing: -.28px;
	font-family: "PretendardVariable", "PretendardVariable Fallback";
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	outline: none;
	height: 20px;
	border: none;
	text-overflow: ellipsis;
	color: rgba(18, 19, 20, 1);
	width: 100%;
}

.password-container {
	gap: 12px;
	align-items: center;
	display: flex;
	width: 100%;
}

.password-input-container {
	align-items: flex-start;
	flex-direction: column;
	display: flex;
	width: 100%;
}

.password-content {
	gap: 4px;
	padding: 0 8px 6px;
	align-items: center;
	display: flex;
	width: 100%;
}

.password-content-style {
	letter-spacing: -.28px;
	font-family: "PretendardVariable", "PretendardVariable Fallback";
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;
	color: rgba(18, 19, 20, 1);
}

.password-input-box01 {
	border: 1px solid rgba(86, 105, 143, 0.1200);
	background: rgb(0 0 0 / 0);
	min-width: 32px;
	padding: 6px;
	min-height: 44px;
	flex-direction: row;
	align-items: center;
	border-radius: 12px;
	display: flex;
	width: 100%;
}

.password-input-box02 {
	flex: 1 0 0;
	padding: 8px;
	display: flex;
	width: 100%;
}

.password-input {
	background-color: rgb(0 0 0 / 0);
	letter-spacing: -.28px;
	font-family: "PretendardVariable", "PretendardVariable Fallback";
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	outline: none;
	height: 20px;
	border: none;
	text-overflow: ellipsis;
	color: rgba(18, 19, 20, 1);
	width: 100%;
}

/* 로그인 가능 */
.login-button {
    cursor: pointer;
	max-height: 56px;
	border-radius: 999px;
	display: inline-flex;
	min-height: 56px;
	padding: 0 16px;
	background-color: rgba(86, 105, 143, 0.0600);
	outline: none;
	color: rgba(18, 19, 20, 1);
	align-items: center;
	width: 100%;
	justify-content: center;
}

/* 로그인 불가능 */
.login-disabled {
    cursor: not-allowed;
    opacity: .4;
}

.login-button-span {
	padding: 0 8px;
	white-space: nowrap;
	user-select: none;
	align-items: center;
	display: flex;
	justify-content: center;
}

/* 회원가입/이메일 찾기/비밀번호 찾기 */
.three-button {
    color: #656565; 
    font-weight: 500; 
    font-size: 14px; 
    align-self: center; 
    margin-right: 13px; 
    margin-bottom: 20px;
    margin-left: 25px;
    margin-top: 11px;
}

.join-member {
	display: none;
}

.join-company {
	display: none;
}

.join-member.show {
	display: inline;
}

.join-company.show {
	display: inline;
}

.find-email::before {
    content: " | ";
    color: #d3d5d7;
    margin: 4px 12px 0;
}

.find-password::before {
    content: " | ";
    color: #d3d5d7;
    margin: 4px 12px 0;
}

/* 간편(소셜) 로그인 */
.social-login-title {
    font-weight: 600; 
    align-self: center; 
    margin-top: 32px; 
    margin-bottom: 22px;
    font-size: 16px;
}

.social-login-container {
	opacity: 1;
	transition: all .3s;
	flex-direction: column;
	align-items: center;
	display: flex;
	width: 100%;
}

.social-login-boxes {
	gap: 8px;
	align-items: flex-start;
	display: flex;
	width: 100%;
}

.google-box {
	flex: 1 1 0;
	min-width: 76px;
	position: relative;
}

.google-box-button {
	max-height: 56px;
	min-height: 56px;
	padding: 14px;
	border-radius: 999px;
	display: inline-flex;
	background-color: rgba(86, 105, 143, 0.0600);
	outline: none;
	cursor: pointer;	
	align-items: center;
	width: 100%;
	justify-content: center;
}

.naver-box {
	flex: 1 1 0;
	min-width: 76px;
	position: relative;
}

.naver-box-button {
	max-height: 56px;
	background-color: #03CF5D;
	padding: 14px;
	border-radius: 999px;
	display: inline-flex;
	min-height: 56px;
	outline: none;
	cursor: pointer;
	align-items: center;
	width: 100%;
	justify-content: center;
}

.kakao-box {
	flex: 1 1 0;
	min-width: 76px;
	position: relative;
}

.kakao-box-button {
	background-color: #FEE500;
	max-height: 56px;
	padding: 14px;
	border-radius: 999px;
	display: inline-flex;
	min-height: 56px;
	outline: none;
	cursor: pointer;
	align-items: center;
	width: 100%;
	justify-content: center;
}

.social-login-title.hide {
	display: none;
}

.social-login-container.hide {
	display: none;
}

/* 개인정보 처리방침 */
.personal-information-container {
	display: flex;
	transition: .3s ease-out;
}

.personal-information {
	padding: 6px 8px;
	gap: 8px;
	cursor: pointer;
	align-items: flex-start;
	position: relative;
	display: flex;
	width: 100%;
}

.checksign{
	border-radius: 0px;
	height: 16px;
	padding: 0px;
	mask: none;
	-webkit-mask: none;
	display: inline-flex;
	color: rgba(18, 19, 20, 1);
	align-items: center;
	justify-content: center;
}

.personal-information-content01 {
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0;
	font-family: "PretendardVariable", "PretendardVariable Fallback";
	font-weight: 400;
	color: rgba(18, 19, 20, 0.6000);
}

.personal-information-content02 {
	text-decoration-thickness: .8px;
	text-underline-position: under;
	text-decoration-line: underline;
	color: rgba(18, 19, 20, 0.6000);
	cursor: pointer;
}

/* 토스트 팝업 */
.toast-warning {
    max-width: 90vw;
    min-width: 360px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 100px);
    background-color: rgba(18,19,20,1);
    border-radius: 12px;
    box-shadow: 0px 4px 20px 0px rgba(24,37,61,0.0600);
    opacity: 0;
    transition: .5s ease;
}

.toast-warning-content {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -.28px;
    flex-direction: column;
    align-items: baseline;
}

.toast-inner {
    display: flex;
    gap: 6px;
}

.toast-warning.show {
    transform: translate(-50%, 0);
    opacity: 1;
	z-index: 1;
}

.toast-warning.show-red {
    transform: translate(-50%, -210%);
    opacity: 1;
	z-index: 0;
	transition: opacity 0.5s ease;
}

.toast-p {
	font-size: 14px;
	padding-left: 25px;
}

/* 닫기 버튼 */
.x-button-container {
	position: fixed;
	right: 20px;
	top: 20px;
}

.x-button {
	padding: 12px;
	max-height: 48px;
	min-height: 48px;
	border-radius: 999px;
	display: inline-flex;
	background-color: rgba(86, 105, 143, 0.0600);
	outline: none;
	cursor: pointer;
	align-items: center;
	justify-content: center;
}

.x-button-symbol {
	mask: none;
	-webkit-mask: none;
	display: inline-flex;
	color: rgba(18, 19, 20, 0.6000);
	align-items: center;
	justify-content: center;
}

.x-button-symbol svg {
	color: rgba(18, 19, 20, 1);
}


/* 기본: PC */
.pc {
    display: block;
}
.mob {
    display: none;
}

/* 1023px 이하일 때: 모바일 */
@media (max-width: 1023px) {
    .pc {
        display: none;
    }
    .mob {
        display: block;
    }
}