<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>콕(KOK) 관리자</title>
    <link href="../../static/images/member/kok_favicon.png" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="../../static/css/admin/support-detail.css">
</head>
<body>
    <div id="kok">
        <div id="kok-notify-container"></div>
        <div class="popup-manager" style="width: 0px;"></div>
        <!-- 사이드 바 시작 부분 -->
        <aside id="kok-side">
            <div class="d-flex flex-column" id="side-wrapper">
                <div class="side-header">
                    <div class="app-wrapper">
                        <div class="provider-name hover-spin">
                            <span class="comp-provider-name">
                                <span class="pn-name">관리자 모드</span>
                            </span>
                        </div>
                        <a class="app-name d-flex justify-content-between align-items-center">
                            <span>Test님</span>
                        </a>
                    </div>
                </div>
                <div class="menu-wrapper flex-grow-1">
                    <ul class="menu-list">
                        <li class="menu menu-item d-flex flex-column">
                            <a href="" id="menu-home" class="menu-btn d-flex w-100">
                                <svg fill="rgb(255, 255, 255)" height="24" role="img" width="24" stroke="black" stroke-width="1.5">
                                    <path clip-rule="evenodd" d="M10.8 3.65a2 2 0 0 1 2.4 0l7 5.25a2 2 0 0 1 .8 1.6V19a2 2 0 0 1-2 2h-4a2 2 0 0 1-2-2v-3h-2v3a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-8.5a2 2 0 0 1 .8-1.6z" fill-rule="evenodd"></path>
                                </svg>
                                <span class="menu-name">HOME</span>
                            </a>
                        </li>
                        <li class="menu menu-item d-flex flex-column">
                            <a class="menu-btn d-flex w-100">
                                <svg fill="rgb(255, 255, 255)" height="24" role="img" width="24" stroke="black" stroke-width="1.5">
                                    <path d="M12 2a5 5 0 1 0 0 10 5 5 0 0 0 0-10M9 14a5 5 0 0 0-5 5v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1a5 5 0 0 0-5-5z"></path>
                                </svg>
                                <span class="menu-name">회원관리</span>
                                <div class="icon-wrapper flex-grow-1 text-right">
                                    <i class="mdi mdi-chevron-right"></i>
                                    <!-- 리스트가 보이는 상태의 아이콘 i class="mdi mdi-chevron-down" -->
                                </div>
                            </a>
                            <!-- 리스트가 보이는 상태 ul class="menu-sub-list collapse show" -->
                            <ul class="menu-sub-list collapse" id="menu-6109064136799700f1ebced6">
                                <li class="submenu menu-item">
                                    <!-- 클릭 한 부분 active -->
                                    <a href="" class="kok-link">
                                        - 
                                        일반회원
                                    </a>
                                </li>
                                <li class="submenu menu-item">
                                    <a href="" class="kok-link">
                                        - 
                                        기업회원
                                    </a>
                                </li>                               
                            </ul>
                        </li>
                        <li class="menu menu-item d-flex flex-column">
                            <a class="menu-btn d-flex w-100" id="menu-experience">
                                <svg fill="rgb(255, 255, 255)" height="24" role="img" width="24" stroke="black" stroke-width="1.5">
                                    <path d="M11 4.85c-2.195-1.022-5.52-1.565-8.633.979A1 1 0 0 0 2 6.603V19a1 1 0 0 0 1.633.774c2.736-2.237 5.734-1.31 7.367-.255zm2 14.669c1.633-1.056 4.63-1.982 7.367.255A1 1 0 0 0 22 19V6.603a1 1 0 0 0-.367-.774C18.52 3.285 15.195 3.828 13 4.849z"></path>
                                </svg>
                                <span class="menu-name">체험</span>
                            </a>
                        </li>
                        <li class="menu menu-item d-flex flex-column">
                            <a class="menu-btn d-flex w-100" id="menu-employ">
                                <svg fill="rgb(255, 255, 255)" height="24" role="img" width="24" stroke="black" stroke-width="1.5">
                                    <path clip-rule="evenodd" d="M11 3a3 3 0 0 0-3 3v1H5a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3v-8a3 3 0 0 0-3-3h-3V6a3 3 0 0 0-3-3zm3 4V6a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1v1z" fill-rule="evenodd"></path>
                                </svg>
                                <span class="menu-name">인턴</span>
                            </a>
                        </li>                                         
                        <li class="menu menu-item d-flex flex-column">
                            <a class="menu-btn d-flex w-100">
                                <svg fill="rgb(255, 255, 255)" height="24" role="img" width="24" stroke="black" stroke-width="1.5">
                                    <path clip-rule="evenodd" d="M16.088 2.134a1 1 0 0 1 1.366.366l4 6.928a1 1 0 1 1-1.732 1l-5.196 3a2 2 0 0 1-2 0l-1.545.892 2.892 5.194a1 1 0 1 1-1.747.973l-2.37-4.255-1.736 4.154a1 1 0 0 1-1.845-.772L7.59 16.23a2 2 0 0 1-1.627-.168l-1.097.634a2 2 0 1 1-2-3.464l1.097-.634a2 2 0 0 1 1-1.732l4.562-2.634a2 2 0 0 1 1-1.732l5.197-3a1 1 0 0 1 .366-1.366" fill-rule="evenodd"></path>
                                </svg>
                                <span class="menu-name">배너</span>
                                <div class="icon-wrapper flex-grow-1 text-right">
                                    <i class="mdi mdi-chevron-right"></i>
                                </div>
                            </a>
                            <ul class="menu-sub-list collapse" id="menu-6284cdfecf9f6d001b046f3a">
                                <li class="submenu menu-item">
                                    <a href="" class="kok-link">
                                        - 
                                        광고
                                    </a>
                                </li>
                                <li class="submenu menu-item">
                                    <a href="" class="kok-link">
                                        - 
                                        현수막
                                    </a>
                                </li>                                  
                            </ul>
                        </li>
                        <li class="menu menu-item d-flex flex-column">
                            <a href="" class="menu-btn d-flex w-100" id="menu-payment">
                                <svg fill="" height="24" role="img" width="24">
                                    <path clip-rule="evenodd" d="M2.2 7A2.8 2.8 0 0 1 5 4.2h14A2.8 2.8 0 0 1 21.8 7v5a.8.8 0 1 1-1.6 0V9.8H3.8V17A1.2 1.2 0 0 0 5 18.2h6a.8.8 0 0 1 0 1.6H5A2.8 2.8 0 0 1 2.2 17zm1.6 1.2h16.4V7A1.2 1.2 0 0 0 19 5.8H5A1.2 1.2 0 0 0 3.8 7zM6.2 13a.8.8 0 0 1 .8-.8h5a.8.8 0 0 1 0 1.6H7a.8.8 0 0 1-.8-.8M18 14.2a.8.8 0 0 1 .8.8v2.2H21a.8.8 0 0 1 0 1.6h-2.2V21a.8.8 0 0 1-1.6 0v-2.2H15a.8.8 0 1 1 0-1.6h2.2V15a.8.8 0 0 1 .8-.8" fill-rule="evenodd"></path>
                                </svg>
                                <span class="menu-name">결제</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <!-- 상단 부분 -->
        <div id="kok-main" class="has-menu">
            <div id="header-wrapper">
                <div id="kok-header" class="d-flex false">
                    <div class="flex-grow-1"></div>
                    <div>
                        <div class="header-menu-group d-flex">
                            <!-- 상단 신고 게시글 목록 이동 -->
                            <a href="" class="kok-link mr-3">
                                <div class="header-menu-btn-manage">
                                    <i class="mdi mdi-text-box-outline"></i>
                                </div>
                            </a>
                            <!-- 상단 고객지원 - 자주 묻는 질문 이동 -->
                            <a href="" class="kok-link mr-3">
                                <div class="header-menu-btn-notice active">
                                    <i class="mdi mdi-bullhorn-variant-outline"></i>
                                </div>
                            </a>
                            <!-- 상단 관리자 이메일 -->
                            <div class="user-menu">
                                <div class="user-menu-wrapper d-flex align-items-center cursor-pointer" id="user-menu-handler">
                                    <div class="user-avatar">T</div>
                                    <div class="user-menu-email">test@gmail.com</div>
                                </div>
                                <!-- 리스트가 보여질 때 -->
                                <!-- <div class="user-menu-content dropdown-menu dropdown-menu-right show" style="position: absolute; transform: translate3d(1698px, 62px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-end"> -->
                                <div class="user-menu-content dropdown-menu dropdown-menu-right">
                                    <ul class="menu-body list-unstyled">     
                                        <li>
                                            <a href="" class="d-block text-dark">
                                                <i class="mdi mdi-logout-variant mr-2 mdi-18px"></i>
                                                로그아웃
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page notice-index narrow-center">
                <div class="page-header">
                    <div class="page-title">고객지원 상세 - 자주 묻는 질문</div>
                </div>
                <div class="page-body white-panel p-5">
                    <div class="page-content">
                        <div class="notice-layout">
                            <div class="header">
                                <div class="title">2025년 7월 1일 rebound.co.kr 도메인 SSL 인증서 갱신 안내</div>
                                <div class="row pt-2">
                                    <div class="col">
                                        <div class="writer small-grey">주) 리바운드</div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="date small-grey">2025-06-26 17:51:31</div>
                                    </div>
                                </div>
                            </div>
                            <div class="body">
                                <div class="content">
                                    <p>안녕하세요. 리바운드 관리자입니다.</p>
                                    <p>오는 
                                        <font color="#ff0000"><b>25년 7월 1일 (화) 02:00</b></font> 에 
                                        <font color="#0000ff"><b>rebound.co.kr SSL 인증서</b></font>가 갱신될 예정입니다.
                                    </p>
                                    <p>SSL 인증서가 갱신이 되더라도 결제가 중단되지 않습니다.</p>
                                    <p><br></p>
                                    <p>기존 인증서 업체와 동일한 ROOT 인증서를 사용하기 때문에 큰 문제 없이 진행이 될 예정이나,</p>
                                    <p>SSL 인증서 변경으로 인해  결제 진행에 어려움을 겪으신다면 언제든 오른쪽 하단 채널톡으로 문의해주시기 바랍니다.</p>
                                    <p><br></p>
                                    <h3>
                                        <b>작업내용</b>
                                    </h3>
                                    <h3>
                                        <b><br></b>
                                    </h3>
                                    <p>-
                                        <b>25년 7월 1일 (화) 02:00 rebound.co.kr SSL 인증서 갱신</b>
                                    </p>
                                    <p>-
                                        <b> 무중단으로 변경 예정</b>
                                    </p>
                                    <p><br></p>
                                    <p><br></p>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <!-- 클릭 시 공지목록 페이지로 이동 -->
                    <div class="content-footer">
                        <button class="btn btn-default mr-4">돌아가기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../static/js/admin/support/event.js"></script>
</html>