<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/mypage/page.css">
</head>
<body>
    <div class="main">
        <div class="main-1">
            <div class="main-2">
                <input type="file" style="display: none;">
                <div class="main-3">
                    <img alt="user-banner-image" loading="lazy" width="1000" height="200" decoding="async" data-nimg="1" class="main-4" src="/static/images/배너3.jpg" style="color: transparent;">  
                    <div class="main-5">
                        <div>
                            <button class="main-6">
                                <span class="main-7">배경 이미지 편집</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-1">
                <div class="content-2">
                    <div class="content-3">
                        <div class="content-4">
                            <div class="content-5">
                                <img alt="image" draggable="false" loading="lazy" width="60" height="60" decoding="async" data-nimg="1" srcset="" src="" style="color: transparent; border-radius: 999px; cursor: pointer; max-height: 60px; max-width: 60px; min-height: 60px; min-width: 60px; object-fit: contain;">
                            </div>
                            <div class="content-6">
                                <div class="content-7">
                                    <p class="content-8">지원자</p>
                                </div>
                                <p class="content-9">sw개발자</p>
                            </div>
                        </div>
                        <div class="content-10">
                            <a href="">
                                <div class="content-11">
                                    <p class="content-12">게시물</p>
                                    <p class="content-13">0</p>
                                </div>
                            </a>
                            <div class="content-11">
                                <p class="content-12">팔로잉</p>
                                <p class="content-13">0</p>
                            </div>
                        </div>
                        <div class="content-14">
                            <button class="content-15" type="button" style="backdrop-filter: blur(calc(var(--blurs-standard) / 2));">
                                <span class="content-16">프로필 편집</span>
                            </button>
                            <button class="content-15" type="button" style="backdrop-filter: blur(calc(var(--blurs-standard) / 2));">
                                <span class="content-16">프로필 공유</span>
                            </button>
                        </div>
                    </div>
                    <div class="content-17">
                        <div class="content-18">
                            <div class="content-19"></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div></div>
            </div>
            <div></div>
        </div>
    </div>
</body>
</html>