<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/mypage/page.css">
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/font/font.css">
</head>
<body>
    <div style="background-color: grey;">
    <div class="main">
        <div class="main-1">
            <div class="main-2">
                <input type="file" style="display: none;">
                <div class="main-3">
                    <img alt="user-banner-image" loading="lazy" width="1000" height="200" decoding="async" data-nimg="1" class="main-4" src="/static/images/banner.jpg" style="color: transparent;">  
                    <div class="main-5">
                        <div>
                            <button class="main-6">
                                <span class="main-7">배경 이미지 편집</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content-1">
                <div class="content-2">
                    <div class="content-3">
                        <div class="content-4">
                            <div class="content-5">
                                <img alt="image" draggable="false" loading="lazy" width="60" height="60" decoding="async" data-nimg="1" srcset="" src="../../static/images/default.webp" style="color: transparent; border-radius: 999px; cursor: pointer; max-height: 60px; max-width: 60px; min-height: 60px; min-width: 60px; object-fit: contain;">
                            </div>
                            <div class="content-6">
                                <div class="content-7">
                                    <p class="content-8">지원자</p>
                                </div>
                                <p class="content-9">SW개발자</p>
                            </div>
                        </div>
                        <div class="content-10">
                            <a href="">
                                <div class="content-11">
                                    <p class="content-12">게시물</p>
                                    <p class="content-13">0</p>
                                </div>
                            </a>
                            <div class="content-11">
                                <p class="content-12">팔로잉</p>
                                <p class="content-13">0</p>
                            </div>
                        </div>
                        <div class="content-14">
                            <button class="content-15" type="button" >
                                <span class="content-16">프로필 편집</span>
                            </button>
                            <button class="content-15" type="button">
                                <span class="content-16">프로필 공유</span>
                            </button>
                        </div>
                    </div>
                    <div class="content-17">
                        <div class="content-18">
                            <div class="content-19 active">
                                <p class="content-20 active">내 게시물</p>
                            </div>
                            <div class="content-19">
                                <p class="content-20">저장한 공고</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 게시글 -->
                <div class="post-1">
                    <div class="post-2">
                        <!-- 첫게시글 -->
                        <div class="post-3">
                            <div class="post-4">
                                <div>
                                    <img alt="image" draggable="false" loading="lazy" width="40" height="40" decoding="async" data-nimg="1" src="../../static/images/default.webp" style="color: transparent; border-radius: 999px; cursor: pointer; max-height: 40px; max-width: 40px; min-height: 40px; min-width: 40px; object-fit: contain;">
                                </div>
                                <div class="post-5">
                                    <div class="post-6">
                                        <div class="post-7">
                                            <div>
                                                <p class="post-8">지원자</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-9">
                                        <p class="post-10">SW개발자</p>
                                        <p class="post-10">11분 전</p>
                                    </div>
                                </div>
                                <!-- 샌드위치버튼 -->
                                <div>
                                    <button class="post-11">
                                        <div class="post-12">
                                            <svg aria-label="icon" color="foregrounds.neutral.tertiary" fill="currentColor" height="20" role="img" width="20">
                                                <use href="#more-menu-vertical-outline"></use>
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <div class="post-13">
                                <div class="post-14">
                                    <div class="post-15">
                                        <div class="post-16">
                                            <span>테스트용 글 확인</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-17">
                                    <div class="post-18">
                                        <div class="post-19">
                                            <!-- 좋아요 -->
                                            <button class="post-20">
                                                <div class="post-21">
                                                    <svg aria-label="icon" color="foregrounds.neutral.primary" fill="currentColor" height="20" role="img" width="20">
                                                        <use href="#comment-2-outline"></use>
                                                    </svg>
                                                </div>
                                                <div>
                                                    <p class="post-22">0</p>
                                                </div>
                                            </button>
                                            <!-- 댓글 -->
                                            <button class="post-20">
                                                <div class="post-21">
                                                    <svg aria-label="icon" color="foregrounds.neutral.primary" fill="currentColor" height="20" role="img" width="20">
                                                        <use href="#comment-2-outline"></use>
                                                    </svg>
                                                </div>
                                                <div>
                                                    <p class="post-22">0</p>
                                                </div>
                                            </button>
                                            <!-- 수정 -->
                                            <button class="post-20">
                                                <div class="post-21">
                                                    <svg aria-label="icon" color="foregrounds.neutral.primary" fill="currentColor" height="20" role="img" width="20">
                                                        <use href="#comment-2-outline"></use>
                                                    </svg>
                                                </div>
                                                <div>
                                                    <p class="post-22">수정</p>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-3">
                            <div class="post-4">
                                <div>
                                    <img alt="image" draggable="false" loading="lazy" width="40" height="40" decoding="async" data-nimg="1" src="../../static/images/default.webp" style="color: transparent; border-radius: 999px; cursor: pointer; max-height: 40px; max-width: 40px; min-height: 40px; min-width: 40px; object-fit: contain;">
                                </div>
                                <div class="post-5">
                                    <div class="post-6">
                                        <div class="post-7">
                                            <div>
                                                <p class="post-8">지원자</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-9">
                                        <p class="post-10">SW개발자</p>
                                        <p class="post-10">11분 전</p>
                                    </div>
                                </div>
                                <!-- 샌드위치버튼 -->
                                <div>
                                    <button class="post-11">
                                        <div class="post-12">
                                            <svg aria-label="icon" color="foregrounds.neutral.tertiary" fill="currentColor" height="20" role="img" width="20">
                                                <use href="#more-menu-vertical-outline"></use>
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <div class="post-13">
                                <div class="post-14">
                                    <div class="post-15">
                                        <div class="post-16">
                                            <span>테스트용 글 확인</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-17">
                                    <div class="post-18">
                                        <div class="post-19">
                                            <!-- 좋아요 -->
                                            <button class="post-20">
                                                <div class="post-21">
                                                    <svg aria-label="icon" color="foregrounds.neutral.primary" fill="currentColor" height="20" role="img" width="20">
                                                        <use href="#comment-2-outline"></use>
                                                    </svg>
                                                </div>
                                                <div>
                                                    <p class="post-22">0</p>
                                                </div>
                                            </button>
                                            <!-- 댓글 -->
                                            <button class="post-20">
                                                <div class="post-21">
                                                    <svg aria-label="icon" color="foregrounds.neutral.primary" fill="currentColor" height="20" role="img" width="20">
                                                        <use href="#comment-2-outline"></use>
                                                    </svg>
                                                </div>
                                                <div>
                                                    <p class="post-22">0</p>
                                                </div>
                                            </button>
                                            <!-- 수정 -->
                                            <button class="post-20">
                                                <div class="post-21">
                                                    <svg aria-label="icon" color="foregrounds.neutral.primary" fill="currentColor" height="20" role="img" width="20">
                                                        <use href="#comment-2-outline"></use>
                                                    </svg>
                                                </div>
                                                <div>
                                                    <p class="post-22">수정</p>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-3">
                            <div class="post-4">
                                <div>
                                    <img alt="image" draggable="false" loading="lazy" width="40" height="40" decoding="async" data-nimg="1" src="../../static/images/default.webp" style="color: transparent; border-radius: 999px; cursor: pointer; max-height: 40px; max-width: 40px; min-height: 40px; min-width: 40px; object-fit: contain;">
                                </div>
                                <div class="post-5">
                                    <div class="post-6">
                                        <div class="post-7">
                                            <div>
                                                <p class="post-8">지원자</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-9">
                                        <p class="post-10">SW개발자</p>
                                        <p class="post-10">11분 전</p>
                                    </div>
                                </div>
                                <!-- 샌드위치버튼 -->
                                <div>
                                    <button class="post-11">
                                        <div class="post-12">
                                            <svg aria-label="icon" color="foregrounds.neutral.tertiary" fill="currentColor" height="20" role="img" width="20">
                                                <use href="#more-menu-vertical-outline"></use>
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <div class="post-13">
                                <div class="post-14">
                                    <div class="post-15">
                                        <div class="post-16">
                                            <span>테스트용 글 확인</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-17">
                                    <div class="post-18">
                                        <div class="post-19">
                                            <!-- 좋아요 -->
                                            <button class="post-20">
                                                <div class="post-21">
                                                    <svg aria-label="icon" color="foregrounds.neutral.primary" fill="currentColor" height="20" role="img" width="20">
                                                        <use href="#comment-2-outline"></use>
                                                    </svg>
                                                </div>
                                                <div>
                                                    <p class="post-22">0</p>
                                                </div>
                                            </button>
                                            <!-- 댓글 -->
                                            <button class="post-20">
                                                <div class="post-21">
                                                    <svg aria-label="icon" color="foregrounds.neutral.primary" fill="currentColor" height="20" role="img" width="20">
                                                        <use href="#comment-2-outline"></use>
                                                    </svg>
                                                </div>
                                                <div>
                                                    <p class="post-22">0</p>
                                                </div>
                                            </button>
                                            <!-- 수정 -->
                                            <button class="post-20">
                                                <div class="post-21">
                                                    <svg aria-label="icon" color="foregrounds.neutral.primary" fill="currentColor" height="20" role="img" width="20">
                                                        <use href="#comment-2-outline"></use>
                                                    </svg>
                                                </div>
                                                <div>
                                                    <p class="post-22">수정</p>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-3">
                            <div class="post-4">
                                <div>
                                    <img alt="image" draggable="false" loading="lazy" width="40" height="40" decoding="async" data-nimg="1" src="../../static/images/default.webp" style="color: transparent; border-radius: 999px; cursor: pointer; max-height: 40px; max-width: 40px; min-height: 40px; min-width: 40px; object-fit: contain;">
                                </div>
                                <div class="post-5">
                                    <div class="post-6">
                                        <div class="post-7">
                                            <div>
                                                <p class="post-8">지원자</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-9">
                                        <p class="post-10">SW개발자</p>
                                        <p class="post-10">11분 전</p>
                                    </div>
                                </div>
                                <!-- 샌드위치버튼 -->
                                <div>
                                    <button class="post-11">
                                        <div class="post-12">
                                            <svg aria-label="icon" color="foregrounds.neutral.tertiary" fill="currentColor" height="20" role="img" width="20">
                                                <use href="#more-menu-vertical-outline"></use>
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <div class="post-13">
                                <div class="post-14">
                                    <div class="post-15">
                                        <div class="post-16">
                                            <span>테스트용 글 확인</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="post-17">
                                    <div class="post-18">
                                        <div class="post-19">
                                            <!-- 좋아요 -->
                                            <button class="post-20">
                                                <div class="post-21">
                                                    <svg aria-label="icon" color="foregrounds.neutral.primary" fill="currentColor" height="20" role="img" width="20">
                                                        <use href="#comment-2-outline"></use>
                                                    </svg>
                                                </div>
                                                <div>
                                                    <p class="post-22">0</p>
                                                </div>
                                            </button>
                                            <!-- 댓글 -->
                                            <button class="post-20">
                                                <div class="post-21">
                                                    <svg aria-label="icon" color="foregrounds.neutral.primary" fill="currentColor" height="20" role="img" width="20">
                                                        <use href="#comment-2-outline"></use>
                                                    </svg>
                                                </div>
                                                <div>
                                                    <p class="post-22">0</p>
                                                </div>
                                            </button>
                                            <!-- 수정 -->
                                            <button class="post-20">
                                                <div class="post-21">
                                                    <svg aria-label="icon" color="foregrounds.neutral.primary" fill="currentColor" height="20" role="img" width="20">
                                                        <use href="#comment-2-outline"></use>
                                                    </svg>
                                                </div>
                                                <div>
                                                    <p class="post-22">수정</p>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="etc">
                <!-- 보관함 -->
                <div class="etc-1">
                    <div class="etc-2">
                        <div class="etc-3">
                            <div class="etc-4">
                                <div class="etc-5">
                                    <p class="etc-6">보관함</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="etc-7">
                        <div class="etc-8">
                            <p class="etc-9">보관함을 채워보세요.</p>
                            <p class="etc-10">나를 더 잘 소개할 수 있는 파일/URL을 등록하세요.
공고에 빠르게 지원하거나, 다른 기업으로부터 제안을 받아볼 수도 있습니다.</p>
                        </div>
                        <button class="etc-11">
                            <span class="etc-12">등록하기</span>
                        </button>
                    </div>
                </div>
                <div class="etc-13">
                    <div class="etc-14">
                        <img alt="XRPL 해커톤 SEOUL 2025 참가자 모집" decoding="async" data-nimg="fill" sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw" src="../../static/images/banner.jpg" style="position: absolute; height: 460.66px; width: 100%; inset: 0px; object-fit: cover; color: transparent; border-radius: 12px;">
                        <div class="etc-15"></div>
                        <div class="etc-16">
                            <img alt="logo" src="https://image.rocketpunch.com/ad_logo/2025/08/20/333.png" style="filter: brightness(0) invert(1); height: 16px; width: auto;">
                        </div>
                        <div class="etc-17">
                            <p class="etc-18">XRPL 해커톤 SEOUL 2025 참가자 모집</p>
                            <p class="etc-19">9.20 - 21  |  스테이블코인, 엑셀러레이팅, 펀딩까지</p>
                        </div>
                    </div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>