body *{
    border-color: #e5e5e5;
    outline-color: #a1a1a180;
}

*, ::backdrop, :after, :before {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
}

main {
    display: block;
    unicode-bidi: isolate;
}

menu, ol, ul {
    list-style: none;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

body {
    background-color: white;
    color: #0a0a0a;
}

header {
    display: block;
    unicode-bidi: isolate;
}

nav {
    display: block;
    unicode-bidi: isolate;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
}

/* p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
} */

section {
    display: block;
    unicode-bidi: isolate;
}

button, input:where([type=button],[type=reset],[type=submit]) {
    appearance: button;
}

button, input, optgroup, select, textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: 0 0 #0000;
    border-radius: 0;
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

/* h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
} */

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
}

label {
    cursor: default;
}

img, video {
    max-width: 100%;
    height: auto;
}

main.main{
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    border-radius: 14px;
    margin-left: 0px;
    margin: 8px;
    background-color: white;
    flex-direction: column;
    flex: 1;
    width: 100%;
    display: flex;
    position: relative;
}

div.wrap-enter{
    background-color: #fafafa;
    overflow: hidden;
    width: 100%;
    min-height: 898px;
    height: 898px;
    display: flex;
}

div.add-upload-wrap{
    overflow: auto;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    display: flex;
    color-scheme: light;
}

div.add-upload-wrap2{
    gap: 8px;
    flex-direction: column;
    flex: 1;
    display: flex;
    container: main / inline-size;
    color-scheme: light;
}

div.add-upload-inner{
    padding-block: 24px;
    gap: 24px;
    flex-direction: column;
    display: flex;
}

div.add-upload-inner2{
    padding: 24px;
    margin-inline: auto;
    max-width: 96rem;
    width: 100%;
}

div.add-upload-top{
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-block-start: 0px;
    margin-block-end: 24px;
}

h1.top-h1{
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
}

p.top-p{
    font-size: 16px;
    line-height: 1.5;
    color: #737373;
    margin-top: 4px;
}