body *{
    border-color: #e5e5e5;
    outline-color: #a1a1a180;
}

*, ::backdrop, :after, :before {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
}

main {
    display: block;
    unicode-bidi: isolate;
}

menu, ol, ul {
    list-style: none;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

body {
    background-color: white;
    color: #0a0a0a;
}

header {
    display: block;
    unicode-bidi: isolate;
}

nav {
    display: block;
    unicode-bidi: isolate;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
}

/* p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
} */

section {
    display: block;
    unicode-bidi: isolate;
}

button, input:where([type=button],[type=reset],[type=submit]) {
    appearance: button;
}

button, input, optgroup, select, textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: 0 0 #0000;
    border-radius: 0;
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

/* h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
} */

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
}

label {
    cursor: default;
}

img, video {
    max-width: 100%;
    height: auto;
}

main.main{
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    border-radius: 14px;
    margin-left: 0px;
    margin: 8px;
    background-color: white;
    flex-direction: column;
    flex: 1;
    width: 100%;
    display: flex;
    position: relative;
}

div.wrap-enter{
    background-color: #fafafa;
    overflow: hidden;
    width: 100%;
    min-height: 898px;
    height: 898px;
    display: flex;
}

div.pay-wrap{
    overflow: auto;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    display: flex;
    color-scheme: light;
}

div.pay-wrap2{
    gap: 8px;
    flex-direction: column;
    flex: 1;
    display: flex;
    container: main / inline-size;
    color-scheme: light;
}

div.pay-wrap-inner{
    padding-block: 24px;
    gap: 24px;
    flex-direction: column;
    display: flex;
}

div.pay-wrap-inner2{
    padding: 24px;
    margin-inline: auto;
    max-width: 96rem;
    width: 100%;
}

div.pay-top{
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-block-start: 0px;
    margin-block-end: 24px;
}

h1.top-h1{
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
}

p.top-p{
    font-size: 16px;
    line-height: 1.5;
    color: #737373;
    margin-top: 4px;
}

div.card{
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    color: #0a0a0a;
    padding-block: 24px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-radius: 14px;
    gap: 24px;
    flex-direction: column;
    display: flex;
}

div.card-top{
    padding-bottom: 8px;
    padding-inline: 24px;
    gap: 6px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    container: card-header / inline-size;
}

div.card-top-main{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.55556;
    margin-block-start: 0px;
    margin-block-end: 4px;
}

div.card-top-sub{
    color: #737373;
    font-size: 14px;
    line-height: 1.42857;
}

div.card-content{
    padding-inline: 24px;
}

table.list-list-table{
    font-size: 14px;
    line-height: 1.42857;
    caption-side: bottom;
    width: 100%;
}

tr.list-tr{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

th.list-head-main{
    color: #0a0a0a;
    white-space: nowrap;
    font-weight: 500;
    vertical-align: middle;
    text-align: left;
    padding-inline: 8px;
    width: 300px;
    height: 40px;
}

th.list-head-sub{
    color: #0a0a0a;
    white-space: nowrap;
    font-weight: 500;
    vertical-align: middle;
    text-align: left;
    padding-inline: 8px;
    width: 150px;
    height: 40px;
}

tr.body-tr{
    position: relative;
    border-style: solid;
    border-width: 0;
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

tr.body-tr-none{
    display: none;
    border-style: solid;
    border-width: 0;
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    cursor: pointer;
}

td.body-td{
    white-space: nowrap;
    vertical-align: middle;
    padding: 8px;
}

div.td-title{
    font-weight: 500;
    line-height: 1;
}

div.td-sub{
    color: #737373;
    font-size: 14px;
    line-height: 1.42857;
    margin-top: 4px;
}

span.span-number{
    font-weight: 600;
}

span.exp-status{
    transition-property: color, box-shadow;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    color: #fafafa;
    white-space: nowrap;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33333;
    padding-block: 2px;
    padding-inline: 8px;
    background-color: #0aa5ff;
    border-color: #0000;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    overflow: hidden;
    gap: 4px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    display: inline-flex;
}

div.appli-active{
    gap: 8px;
    align-items: center;
    display: flex;
}

span.exp-status.return-pay{
    background-color: #171717;
}

body div.no-pay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block:48px;
}

no-h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.55556;
    margin-bottom: 8px;
}

no-p{
    color: #737373;
    max-width: 384px;
    margin-bottom:16px;
}