/* body *{
    border-color: #e5e5e5;
    outline-color: #a1a1a180;
}

*, ::backdrop, :after, :before {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
}

main {
    display: block;
    unicode-bidi: isolate;
}

menu, ol, ul {
    list-style: none;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

body {
    background-color: white;
    color: #0a0a0a;
}

header {
    display: block;
    unicode-bidi: isolate;
}

nav {
    display: block;
    unicode-bidi: isolate;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

section {
    display: block;
    unicode-bidi: isolate;
}

button, input:where([type=button],[type=reset],[type=submit]) {
    appearance: button;
}

button, input, optgroup, select, textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: 0 0 #0000;
    border-radius: 0;
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
}

label {
    cursor: default;
}

img, video {
    max-width: 100%;
    height: auto;
}

main.main{
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    border-radius: 14px;
    margin-left: 0px;
    margin: 8px;
    background-color: white;
    flex-direction: column;
    flex: 1;
    width: 100%;
    display: flex;
    position: relative;
}

div.wrap-enter{
    background-color: #fafafa;
    overflow: hidden;
    width: 100%;
    min-height: 898px;
    height: 898px;
    display: flex;
}

div.list-wrap{
    overflow: auto;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    display: flex;
    color-scheme: light;
}

div.list-wrap2{
    gap: 8px;
    flex-direction: column;
    flex: 1;
    display: flex;
    container: main / inline-size;
    color-scheme: light;
}

div.list-wrap-inner{
    padding-block: 24px;
    gap: 24px;
    flex-direction: column;
    display: flex;
}

div.list-wrap-inner2{
    padding: 24px;
    margin-inline: auto;
    max-width: 96rem;
    width: 100%;
}

div.list-head{
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-block-start: 0px;
    margin-block-end: 24px;
}

h1.head-h1{
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
}

p.head-p{
    font-size: 16px;
    line-height: 1.5;
    color: #737373;
    margin-top: 4px;
}

button.new-exp{
    padding-inline: 12px;
    outline-style: none;
    transition-property: color, box-shadow;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    color: #fafafa;
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    padding-block: 8px;
    background-color: #171717;
    border-radius: 8px;
    gap: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
    height: 36px;
    display: inline-flex;
}

svg.new-exp-svg{
    width: 16px;
    height:16px;
    flex-shrink: 0;
    pointer-events: none;
}

div.card1-wrap{
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 16px;
    display: grid;
    margin-block-start: 0px;
    margin-block-end: 16px;
}

div.cards{
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    color: #0a0a0a;
    padding-block: 24px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-radius: 14px;
    gap: 24px;
    flex-direction: column;
    display: flex;
}

div.card-top{
    padding-bottom: 8px;
    padding-inline: 24px;
    gap: 6px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    display: flex;
    container: card-header / inline-size;
}

div.card-top-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
}

div.card-body{
    padding-inline: 24px;
}

div.card-body-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33333;
}

p.card-body-sub{
    color: #737373;
    font-size: 12px;
    line-height: 1.33333;
}

button.card-btn{
    outline-style: none;
    transition-property: color, box-shadow;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    padding-inline: 12px;
    background-color: #ffffff;
    border-color: e5e5e5;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    gap: 6px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 32px;
    display: inline-flex;
}

div.filter-wrap{
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    color: #0a0a0a;
    padding-block: 24px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-radius: 14px;
    gap: 24px;
    flex-direction: column;
    display: flex;
    margin-block-start: 0px;
    margin-block-end: 16px;
}

div.filter-top{
    padding-inline: 24px;
    gap: 6px;
    align-items: flex-start;
    grid-template-rows: auto auto;
    grid-auto-rows: min-content;
    display: grid;
    container: card-header / inline-size;
}

div.filter-top-main{
    font-weight: 600;
    line-height: 1;
}

div.filter-top-sub{
    color: #737373;
    font-size: 14px;
    line-height: 1.42857;
}

div.filter-body{
    padding-inline: 24px;
}

div.filter-search{
    flex-direction: row;
    display: flex;
}

div.search-main{
    flex: 1;
    margin-inline-start: 0px;
    margin-inline-end: 16px;
    margin-block-start:0px;
    margin-block-end: 16px;
}

div.search-main2{
    position: relative;
}

svg.search-svg{
    color: #737373;
    translate: 0;
    width: 16px;
    height: 16px;
    left: 12px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}
body input.search-input{
    padding-left: 40px;
}

input.search-input{
    font-size: 14px;
    line-height: 1.42857;
    outline-style: none;
    transition-property: color, box-shadow;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    padding-block: 4px;
    padding-inline: 12px;
    background-color: #0000;
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    min-width: 0px;
    width: 100%;
    height: 36px;
    display: flex;
}

button.search-btn{
    height: 36px;
    outline-style: none;
    transition-property: color, box-shadow;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857;
    padding-block: 8px;
    padding-inline: 12px;
    background-color: #0000;
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    display: flex;
    position: relative;
    z-index: 1;
}

.job {
    position: absolute;
    bottom: 100%;
    left: 0;
    margin-bottom: 8px;
    width: 150px;
    display: none;
    max-height: 220px;
    opacity: 1;
    flex-direction: column;
    z-index: 10000;
    box-shadow: 0px 4px 20px 0px rgba(24,37,61,0.06);
    border-radius: 8px;
    border: 1px solid rgba(86,105,143,0.12);
    background: #ffffff;
    cursor: default;
}


.job-1 {
    display: block; 
    max-height: 220px;
    overflow-y: auto; 
    overflow-x: hidden;
}

.job-1::-webkit-scrollbar {
    display: none;        
}
.job-1 {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.job-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
}

.job-3 {
    display: flex;
    align-items: center;  
    justify-content: flex-start;
    border-radius: 8px;
    padding: 0 6px;   
    gap: 4px;
    width: 100%;
    height: 36px;      
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.2s;
}

.job-3:hover {
    background-color: #e5e5e5;
}

.job-3.selected {
  background-color: #e5e5e5;
}

.job-5 {
    display: flex;
    flex: 1 0 auto;
    padding-inline: 4px;
}

.job-6 {
    font-size: 14px;
    line-height: 18px; 
    color: rgba(18,19,20,1);
    letter-spacing: -0.28px;
    font-family: "PretendardVariable","PretendardVariable Fallback";
}



.job-3:hover {
    background-color: #f5f5f5;
}

span.search-span{
    pointer-events: none;
    gap: 8px;
    align-items: center;
    display: flex;
    overflow: hidden;
}

svg.category-svg{
    color: #737373;
    flex-shrink: 0;
    pointer-events: none;
    opacity: .5;
    width: 16px;
    height: 16px;
}

div.list-cate{
    gap: 8pc;
    flex-direction: column;
    display: flex;
}

div.list-cate-inner{
    outline: none;
    color: #737373;
    padding: 3px;
    background-color: #f5f5f5;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    height: 36px;
    display: grid;
}

button.category-sub{
    transition-property: color, box-shadow;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    color: #0a0a0a;
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    padding-block: 4px;
    padding-inline: 8px;
    border-color: #0000;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    gap: 6px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 29px;
    display: inline-flex;
}

button.category-sub.active{
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    background-color: #ffffff;
}

body button.category-sub.active{
    background-color: #ffffff;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
}

div.list-list{
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    color: #0a0a0a;
    padding-block: 24px;
    background-color: #ffffff;
    border-style: solid;
    border-radius: 14px;
    gap: 24px;
    flex-direction: column;
    display: flex;
}

div.list-list-head{
    padding-inline: 24px;
    gap: 6px;
    align-items: flex-start;
    grid-template-rows: auto auto;
    grid-auto-rows: min-content;
    display: grid;
    container: card-header / inline-size;
}

div.list-head-text{
    font-weight: 600;
    line-height: 1;
}

div.list-list-wrap{
    padding-inline: 24px;
}

div.list-list-main{
    overflow-x: auto;
    width: 100%;
    position: relative;
}

table.list-list-table{
    font-size: 14px;
    line-height: 1.42857;
    caption-side: bottom;
    width: 100%;
}

tr.list-tr{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

th.list-head-main{
    color: #0a0a0a;
    white-space: nowrap;
    font-weight: 500;
    vertical-align: middle;
    text-align: left;
    padding-inline: 8px;
    width: 300px;
    height: 40px;
}

th.list-head-sub{
    color: #0a0a0a;
    white-space: nowrap;
    font-weight: 500;
    vertical-align: middle;
    text-align: left;
    padding-inline: 8px;
    width: 150px;
    height: 40px;
}

tr.body-tr{
    position: relative;
    border-style: solid;
    border-width: 0;
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    cursor: pointer;
}

tr.body-tr:hover{
    background-color: #f5f5f580;
}

tr.body-tr-none{
    display: none;
    border-style: solid;
    border-width: 0;
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    cursor: pointer;
}

td.body-td{
    white-space: nowrap;
    vertical-align: middle;
    padding: 8px;
    cursor: pointer;
}

div.td-title{
    font-weight: 500;
    line-height: 1;
}

div.td-sub{
    color: #737373;
    font-size: 14px;
    line-height: 1.42857;
    margin-top: 4px;
}

span.span-number{
    font-weight: 600;
}

span.exp-status{
    transition-property: color, box-shadow;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    color: #fafafa;
    white-space: nowrap;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33333;
    padding-block: 2px;
    padding-inline: 8px;
    background-color: #171717;
    border-color: #0000;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    overflow: hidden;
    gap: 4px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    display: inline-flex;
}

div.appli-active{
    gap: 8px;
    align-items: center;
    display: flex;
}

button.appli-active-btn{
    background-color: #171717;
    outline-style: none;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 2px 0 #0000000d;
    border-color: #0000;
    border-style: solid;
    border-width: 1px;
    border-radius: 3.40282e+38px;
    align-items: center;
    flex-shrink: 0;
    width: 32px;
    height: 1.15rem;
    display: inline-flex;
}

span.circle{
    translate: calc(100% - 2px);
    transition-property: transform, translate, scale, rotate;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 0 calc(0px + 0) currentColor, 0 0 #0000;
    background-color: #ffffff;
    border-radius: 3.40282e+38px;
    width: 16px;
    height: 16px;
    display: block;
    pointer-events: none;
}

button.hambuger{
    padding-inline: 12px;
    outline-style: none;
    transition-property: color, box-shadow;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    padding: 0px;
    border-radius: 8px;
    gap: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: inline-flex;
}

svg.hambuger-svg{
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    pointer-events: none;
}

div.hambuger-pop-wrap {
    position: absolute;
    display: none;
    min-width: max-content;
    z-index: 1000;
    top: 0; 
}

div.hambuger-pop{
    outline: none;
    pointer-events: auto;
    animation: enter .15s ease;
	box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000;
	color: #0a0a0a;
	padding: 4px;
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
	overflow-y: auto;
	overflow-x: hidden;
	transform-origin: 100% 50% 179px;
	min-width: 8rem;
	max-height: 728.5px;
}

div.pop-head{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42857;
    padding-block: 6px;
    padding-inline: 8px;
}

div.hambuger-list{
    user-select: none;
    outline-style: none;
    font-size: 14px;
    line-height: 1.42857;
    padding-block: 6px;
    padding-inline: 8px;
    border-radius: 6px;
    gap: 8px;
    align-items: center;
    cursor: default;
    display: flex;
    position: relative;
}

div.hambuger-list:hover{
    background-color: #f5f5f5;
}

svg.hambuger-svg{
    color: #737373;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    pointer-events: none;
}

div.bar-hambuger{
    background-color: #e5e5e5;
    height: 1px;
    margin-block: 4px;
    margin-inline: -4px;
}

div.red-ham-list{
    user-select: none;
    outline-style: none;
    color: #e7000b;
    font-size: 14px;
    line-height: 1.42857;
    padding-block: 6px;
    padding-inline: 8px;
    border-radius: 6px;
    gap: 8px;
    align-items: center;
    cursor: default;
    display: flex;
    position: relative;
}

div.red-ham-list:hover{
    background-color: #f5f5f5;
} */