body *{
    border-color: #e5e5e5;
    outline-color: #a1a1a180;
}

*, ::backdrop, :after, :before {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
}

main {
    display: block;
    unicode-bidi: isolate;
}

menu, ol, ul {
    list-style: none;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

body {
    background-color: white;
    color: #0a0a0a;
}

header {
    display: block;
    unicode-bidi: isolate;
}

nav {
    display: block;
    unicode-bidi: isolate;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
}

/* p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
} */

section {
    display: block;
    unicode-bidi: isolate;
}

button, input:where([type=button],[type=reset],[type=submit]) {
    appearance: button;
}

button, input, optgroup, select, textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: 0 0 #0000;
    border-radius: 0;
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

/* h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
} */

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
}

label {
    cursor: default;
}

img, video {
    max-width: 100%;
    height: auto;
}

main.main{
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    border-radius: 14px;
    margin-left: 0px;
    margin: 8px;
    background-color: white;
    flex-direction: column;
    flex: 1;
    width: 100%;
    display: flex;
    position: relative;
}

div.wrap-enter{
    background-color: #fafafa;
    overflow: hidden;
    width: 100%;
    min-height: 898px;
    height: 898px;
    display: flex;
}

div.add-upload-wrap{
    overflow: auto;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    display: flex;
    color-scheme: light;
}

div.add-upload-wrap2{
    gap: 8px;
    flex-direction: column;
    flex: 1;
    display: flex;
    container: main / inline-size;
    color-scheme: light;
}

div.add-upload-inner{
    padding-block: 24px;
    gap: 24px;
    flex-direction: column;
    display: flex;
}

div.add-upload-inner2{
    padding: 24px;
    margin-inline: auto;
    max-width: 96rem;
    width: 100%;
}

div.add-upload-top{
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-block-start: 0px;
    margin-block-end: 24px;
}

h1.top-h1{
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
}

p.top-p{
    font-size: 16px;
    line-height: 1.5;
    color: #737373;
    margin-top: 4px;
}

div.left-area{
    grid-column: span 2 / span 2;
}

div.add-upload-main{
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 16px;
    display: grid;
}

div.cards{
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
    color: #0a0a0a;
    padding-block: 24px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-radius: 14px;
    gap: 14px;
    flex-direction: column;
    display: flex;
    margin-block-start: 0px;
    margin-block-end: 16px;
}

div.card-title{
    padding-inline: 24px;
    gap: 6px;
    align-items: flex-start;
    grid-template-rows: auto auto;
    grid-auto-rows: min-content;
    display: grid;
    margin-block-start: 0px;
    margin-block-end: 16px;
}

div.main-title{
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
}

div.sub-title{
    font-size: 14px;
    color: #737373;
    font-size: 14px;
    line-height: 1.42857;
}

div.card-content{
    padding-inline: 24px;
}

div.card-content{
    padding-inline: 24px;
}

div.preview{
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

div.preview-head{
    color: #737373;
    font-size: 12px;
    line-height: 1.33333;
    text-align: center;
    margin-block-start: 0px;
    margin-block-end: 8px;
}

div.preview-main{
    align-items: flex-start;
    aspect-ratio: 2 / 1;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 150px;
    justify-content: space-between;
    width: 300px;
    background-color:#f5f5f5;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

div.preview-img-wrap{
    inset: 0px;
    position: absolute;
}

img.preview-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

div.preview-text-wrap{
    background-color: #00000033;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

div.pre-text-main{
    gap: 6px;
    padding: 20px 20px 0px;
    flex-direction: column;
    display: flex;
    z-index: 10;
    position: relative;
}

h6.pre-h6{
    font-family: "Pretendard Variable";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.36px;
    line-height: 26px;
    color: #ffffff;
    white-space: pre-line;
    z-index: 10;
    position: relative;
}

p.pre-p{
    font-family: "Pretendard Variable";
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.24px;
    line-height: 18px;
    color: #ffffffe6;
    z-index: 10;
    position: relative;
}

div.pre-bottom{
    padding: 0px 20px 20px;
    justify-content: flex-end;
    display: flex;
    z-index: 10;
    position: relative;
}

div.yoso{
    margin-block-start: 0px;
    margin-block-end: 16px;
}

label.card-label{
    user-select: none;
    font-weight: 500;
    line-height: 1;
    font-size: 14px;
    gap: 8px;
    align-items: center;
    display: flex;
    margin-block-start: 0px;
    margin-block-end: 8px;
}

input.add-text-input{
    font-size: 14px;
    line-height: 1.42857;
    outline-style: none;
    transition-property: color, box-shadow;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 2px 0 #0000000d;
    padding-block: 4px;
    padding-inline: 12px;
    background-color: #0000;
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    min-width: 0px;
    width: 100%;
    height: 36px;
    display: flex;
    margin-block-start: 0px;
    margin-block-end: 8px;
}

div.sub-text{
    color: #737373;
    font-size: 12px;
    line-height: 1.33333;
}

label.media-label{
    user-select: none;
    font-weight: 500;
    line-height: 1;
    font-size: 14px;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-block-start: 0px;
    margin-block-end: 8px;
}

span.media-span{
    padding-inline: 12px;
    outline-style: none;
    transition-property: color, box-shadow;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 2px 0 #0000000d;
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    padding-block: 8px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    gap: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
    width: 100%;
    height: 36px;
    display: inline-flex;
}

svg.media-svg{
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    pointer-events: none;
    margin-right: 8px;
}

input.media-input{
    display: none;
}

div.date-main{
    gap:16px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    display: grid;
    margin-block-start: 0px;
    margin-block-end: 16px;
}

input.date-input{
    padding-inline:12px;
    outline-style: none;
    transition-property: color, box-shadow;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 2px 0 #0000000d;
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    padding-block: 8px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    gap: 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 40%;
    height: 36px;
    margin: auto;
    display: inline-flex;
}

button.calcu{
    padding-inline:12px;
    outline-style: none;
    transition-property: color, box-shadow;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 2px 0 #0000000d;
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    padding-block: 8px;
    color: #fafafa;
    background-color: #171717;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    gap: 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 10%;
    height: 36px;
    margin: auto;
    display: inline-flex;
    cursor: pointer;
}

div.date-sub{
    padding: 12px;
    background-color: #f5f5f5;
    border-radius: 10px;
}

div.date-sub-inner{
    text-align: center;
}

div.main-date-text{
    color: #0a0a0a;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33333;
}

div.sub-date-text{
    color:#737373;
    font-size: 14px;
    line-height: 1.42857;
}

div.start-main{
    margin-block-start: 0px;
    margin-block-end: 16px;
}

div.start-price{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33333;
    margin-block-start: 0px;
    margin-block-end: 8px;
}

div.explains{
    color: #737373;
    font-size: 14px;
    line-height: 1.42857;
    margin-block-start: 0px;
    margin-block-end: 4px;
}

button.start-add{
    outline-style: none;
    transition-property: color, box-shadow;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 2px 0 #0000000d;
    color: #fafafa;
    white-space: nowrap;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding-block: 8px;
    padding-inline: 16px;
    background-color: #0aa5ff;
    border-radius: 8px;
    gap: 8px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 48px;
    display: inline-flex;
}

button.start-add:hover{
    background-color: #40b9ff;
}