body *{
    border-color: #e5e5e5;
    outline-color: #a1a1a180;
}

*, ::backdrop, :after, :before {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
}

main {
    display: block;
    unicode-bidi: isolate;
}

menu, ol, ul {
    list-style: none;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

body {
    background-color: white;
    color: #0a0a0a;
}

header {
    display: block;
    unicode-bidi: isolate;
}

nav {
    display: block;
    unicode-bidi: isolate;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

main.main{
    box-shadow: #0000;
    border-radius: 14px;
    margin-left: 0px;
    margin: 8px;
    background-color: white;
    flex-direction: column;
    flex: 1;
    width: 100%;
    display: flex;
    position: relative;
}

header.header{
    transition-timing-function: linear;
    transition-property: width, height;
    transition-duration: .15s;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    gap: 8px;
    align-items: center;
    flex-shrink: 0;
    height: 48px;
    display: flex;
    color-scheme: light;
}

div.header-wrap{
    padding-inline: 24px;
    gap: 8px;
    align-items: center;
    width: 100%;
    display: flex;
}

nav.breadcrumb{
    color-scheme: light;
}

ol.header-ol{
    gap: 10px;
    color: #737373;
    overflow-wrap: break-word;
    font-size: 14px;
    line-height: 1.42857;
    align-items: center;
    flex-wrap: wrap;
}

li.header-li{
    display: block;
    align-items: center;
    color: #737373;
    overflow-wrap: break-word;
    font-size: 14px;
    line-height: 1.42857
}

span.header-span{
    color: #0a0a0a;
    font-weight: 400;
    overflow-wrap: break-word;
    font-size: 14px;
    line-height: 1.42857
}

div.wrapper-header{
    background-color: #fafafa;
    overflow: hidden;
    width: 100%;
    min-height: 898px;
    height: 898px;
    display: flex;
}