<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shorcut icon" href="../../static/images/member/kok_favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/font/font.css">
    <link rel="stylesheet" href="../../static/css/experience/list.css">
    <title>kok</title>
</head>
<body>
    <div id="main-content" class="main-content">
        <main class="main">
            <div class="content-layout">
                <div class="content">
                    <div class="main-wrapper">
                        <div class="content-section">
                            <div class="search-container wide">
                                <div class="search-box">
                                    <div class="search-list">
                                        <div class="search-item search-input-item">
                                            <input type="text" id="keyword-input" placeholder="기업명">
                                            <button type="button" class="keyword-delete">
                                                <svg aria-label="icon" color="foregrounds.neutral.tertiary" fill="currentColor" height="24" role="img" width="24">
                                                    <path clip-rule="evenodd" d="M6.434 6.435a.8.8 0 0 1 1.132 0L12 10.869l4.434-4.434a.8.8 0 1 1 1.132 1.13L13.13 12l4.435 4.435a.8.8 0 1 1-1.132 1.13L12 13.133l-4.434 4.434a.8.8 0 0 1-1.132-1.131L10.87 12 6.434 7.566a.8.8 0 0 1 0-1.131" fill-rule="evenodd"></path>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="search-item">
                                            <div class="search-label">
                                                <p class="search-name">산업 분야</p>
                                            </div>

                                            <div class="dropdown-container">
                                                <button class="dropdown-open-btn">전체</button>

                                                <div class="dropdown-menu">
                                                    <p class="dropdown-name">산업 분야</p>
                                                    <div class="dropdown-content">
                                                        <ul class="dropdown-list">
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>SW 개발</p>
                                                                </button>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>데이터/AI</p>
                                                                </button>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>기획/전략</p>
                                                                </button>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>디자인/UX</p>
                                                                </button>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>마케팅/PR</p>
                                                                </button>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>경영/운영</p>
                                                                </button>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>HR/인사</p>
                                                                </button>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>회계/재무</p>
                                                                </button>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>법률/법무</p>
                                                                </button>
                                                            </li>
                                                        </ul>
                                                        <div class="dropdown-actions">
                                                            <button class="select-all-btn">전체 선택</button>
                                                            <button class="apply-btn">적용</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="search-item">
                                            <div class="search-label">
                                                <p class="search-name">기업 규모</p>
                                            </div>
                                            
                                            <div class="dropdown-container">
                                                <button class="dropdown-open-btn">전체</button>

                                                <div class="dropdown-menu">
                                                    <p class="dropdown-name">기업 규모</p>
                                                    <div class="dropdown-content">
                                                        <ul class="dropdown-list">
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>매우 작은 규모</p>
                                                                    <span>30명 미만</span>
                                                                </button>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>작은 규모</p>
                                                                    <span>30-100명</span>
                                                                </button>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>중간 규모</p>
                                                                    <span>100-400명</span>
                                                                </button>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>큰 규모</p>
                                                                    <span>400-2,000명</span>
                                                                </button>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>매우 큰 규모</p>
                                                                    <span>2,000명 초과</span>
                                                                </button>
                                                            </li>
                                                        </ul>
                                                        <div class="dropdown-actions">
                                                            <button class="select-all-btn">전체 선택</button>
                                                            <button class="apply-btn">적용</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="pc"> -->
                                        <button class="search-button">
                                            <svg viewBox="0 0 24 24" fill="#fff" height="24" role="img" width="24">
                                                <path clip-rule="evenodd" d="M11 4.8a6.2 6.2 0 1 0 0 12.4 6.2 6.2 0 0 0 0-12.4M3.2 11a7.8 7.8 0 1 1 13.852 4.921l3.514 3.514a.8.8 0 1 1-1.132 1.13l-3.513-3.513A7.8 7.8 0 0 1 3.2 11" fill-rule="evenodd"></path>
                                            </svg>
                                        </button>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="content-box pd-0">
                                <div class="list-container">
                                    <!-- 데이터 없을때 -->
                                    <div class="no-data">
                                        <p class="title">조건에 맞는 채용공고가 없습니다.</p>
                                        <p class="description">조건을 변경하여 다시 검색해 보세요.</p>
                                    </div>

                                    <div class="list-item">
                                        <button class="list-item-btn">
                                            <div class="list-item-header">
                                                <div class="list-item-thumb">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany_profile%2F210280%2F2025%2F09%2F09%2Flogo_1757380047672.jpg&amp;w=64&amp;q=75" alt="">
                                                </div>
                                                <div class="list-item-content">
                                                    <p class="list-item-title">애니포인트미디어</p>
                                                    <p class="list-item-subtitle">SDK 개발자 (Kotlin Multiplatform)</p>
                                                    <p class="list-item-description">크로스 플랫폼 광고 SDK 개발로 전문성을 쌓아갈 개발자 모집</p>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="list-item">
                                        <button class="list-item-btn">
                                            <div class="list-item-header">
                                                <div class="list-item-thumb">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany_profile%2F210280%2F2025%2F09%2F09%2Flogo_1757380047672.jpg&amp;w=64&amp;q=75" alt="">
                                                </div>
                                                <div class="list-item-content">
                                                    <p class="list-item-title">애니포인트미디어</p>
                                                    <p class="list-item-subtitle">SDK 개발자 (Kotlin Multiplatform)</p>
                                                    <p class="list-item-description">크로스 플랫폼 광고 SDK 개발로 전문성을 쌓아갈 개발자 모집</p>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="list-item">
                                        <button class="list-item-btn">
                                            <div class="list-item-header">
                                                <div class="list-item-thumb">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany_profile%2F210280%2F2025%2F09%2F09%2Flogo_1757380047672.jpg&amp;w=64&amp;q=75" alt="">
                                                </div>
                                                <div class="list-item-content">
                                                    <p class="list-item-title">애니포인트미디어</p>
                                                    <p class="list-item-subtitle">SDK 개발자 (Kotlin Multiplatform)</p>
                                                    <p class="list-item-description">크로스 플랫폼 광고 SDK 개발로 전문성을 쌓아갈 개발자 모집</p>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="list-item">
                                        <button class="list-item-btn">
                                            <div class="list-item-header">
                                                <div class="list-item-thumb">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany_profile%2F210280%2F2025%2F09%2F09%2Flogo_1757380047672.jpg&amp;w=64&amp;q=75" alt="">
                                                </div>
                                                <div class="list-item-content">
                                                    <p class="list-item-title">애니포인트미디어</p>
                                                    <p class="list-item-subtitle">SDK 개발자 (Kotlin Multiplatform)</p>
                                                    <p class="list-item-description">크로스 플랫폼 광고 SDK 개발로 전문성을 쌓아갈 개발자 모집</p>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="list-item">
                                        <button class="list-item-btn">
                                            <div class="list-item-header">
                                                <div class="list-item-thumb">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany_profile%2F210280%2F2025%2F09%2F09%2Flogo_1757380047672.jpg&amp;w=64&amp;q=75" alt="">
                                                </div>
                                                <div class="list-item-content">
                                                    <p class="list-item-title">애니포인트미디어</p>
                                                    <p class="list-item-subtitle">SDK 개발자 (Kotlin Multiplatform)</p>
                                                    <p class="list-item-description">크로스 플랫폼 광고 SDK 개발로 전문성을 쌓아갈 개발자 모집</p>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="list-item">
                                        <button class="list-item-btn">
                                            <div class="list-item-header">
                                                <div class="list-item-thumb">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany_profile%2F210280%2F2025%2F09%2F09%2Flogo_1757380047672.jpg&amp;w=64&amp;q=75" alt="">
                                                </div>
                                                <div class="list-item-content">
                                                    <p class="list-item-title">애니포인트미디어</p>
                                                    <p class="list-item-subtitle">SDK 개발자 (Kotlin Multiplatform)</p>
                                                    <p class="list-item-description">크로스 플랫폼 광고 SDK 개발로 전문성을 쌓아갈 개발자 모집</p>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="list-item">
                                        <button class="list-item-btn">
                                            <div class="list-item-header">
                                                <div class="list-item-thumb">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany_profile%2F210280%2F2025%2F09%2F09%2Flogo_1757380047672.jpg&amp;w=64&amp;q=75" alt="">
                                                </div>
                                                <div class="list-item-content">
                                                    <p class="list-item-title">애니포인트미디어</p>
                                                    <p class="list-item-subtitle">SDK 개발자 (Kotlin Multiplatform)</p>
                                                    <p class="list-item-description">크로스 플랫폼 광고 SDK 개발로 전문성을 쌓아갈 개발자 모집</p>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="list-item">
                                        <button class="list-item-btn">
                                            <div class="list-item-header">
                                                <div class="list-item-thumb">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany_profile%2F210280%2F2025%2F09%2F09%2Flogo_1757380047672.jpg&amp;w=64&amp;q=75" alt="">
                                                </div>
                                                <div class="list-item-content">
                                                    <p class="list-item-title">애니포인트미디어</p>
                                                    <p class="list-item-subtitle">SDK 개발자 (Kotlin Multiplatform)</p>
                                                    <p class="list-item-description">크로스 플랫폼 광고 SDK 개발로 전문성을 쌓아갈 개발자 모집</p>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="list-item">
                                        <button class="list-item-btn">
                                            <div class="list-item-header">
                                                <div class="list-item-thumb">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany_profile%2F210280%2F2025%2F09%2F09%2Flogo_1757380047672.jpg&amp;w=64&amp;q=75" alt="">
                                                </div>
                                                <div class="list-item-content">
                                                    <p class="list-item-title">애니포인트미디어</p>
                                                    <p class="list-item-subtitle">SDK 개발자 (Kotlin Multiplatform)</p>
                                                    <p class="list-item-description">크로스 플랫폼 광고 SDK 개발로 전문성을 쌓아갈 개발자 모집</p>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="side-wrapper">
                        <div class="content-box">
                            <div class="profile-card">
                                <div class="profile-avatar">
                                    <img alt="image" draggable="false" loading="lazy" width="60" height="60" decoding="async" data-nimg="1" srcset="" src="/static/images/mypage/default.webp" style="color: transparent; border-radius: 999px; cursor: pointer; max-height: 60px; max-width: 60px; min-height: 60px; min-width: 60px; object-fit: contain;">
                                </div>
                                <div class="profile-info">
                                    <div class="profile-name">
                                        <a href="" class="member-name">홍길동</a>
                                    </div>
                                    <p class="member-role">SW 개발</p>
                                </div>
                                <div class="stats-list">
                                    <div class="stat-item">
                                        <p class="stat-value">0</p>
                                        <p class="stat-label">게시물</p>
                                    </div>
                                    <div class="stat-item">
                                        <p class="stat-value">0</p>
                                        <p class="stat-label">팔로워</p>
                                    </div>
                                    <div class="stat-item">
                                        <p class="stat-value">0</p>
                                        <p class="stat-label">채용공고</p>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn-write btn-primary">글쓰기</button>
                        </div>
                        
                        <div class="content-box pd-0">
                            <img src="/static/images/experience/ad_bg_img.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- popup - 이력서등록 -->
    <!-- data-sticky="true" 남아야 하는 팝업일때 붙임 -->
    <div id="popup3" class="popup-container pop-center" data-sticky="true">
        <div class="popup-inner">
            <div class="popup-header profile">
                <strong class="popup-title">보관함 등록</strong>
                <button class="popup-close popup-library-close">닫기</button>
            </div>
            <form action="">
                <div class="popup-body">
                    <div class="form-list form-grid">
                        <div class="form-item flex-1-1">
                            <label class="form-label" for="type-input">유형<span class="must">*</span></label>
                            <div class="form-field form-field-dropdown">
                                <input type="text" id="type-input" class="dropdown-trigger" data-target="#dropdown2" placeholder="선택 또는 입력" readonly>

                                <div id="dropdown2" class="option-menu">
                                    <ul class="option-list">
                                        <li class="option-item option-input">
                                            <button type="button" class="option-btn">
                                                <svg aria-label="icon" color="foregrounds.neutral.primary" fill="currentColor" height="24" role="img" width="24">
                                                    <path clip-rule="evenodd" d="M12 4.2a.8.8 0 0 1 .8.8v6.2H19a.8.8 0 0 1 0 1.6h-6.2V19a.8.8 0 0 1-1.6 0v-6.2H5a.8.8 0 0 1 0-1.6h6.2V5a.8.8 0 0 1 .8-.8" fill-rule="evenodd"></path>
                                                </svg>
                                                <p>직접 입력</p>
                                            </button>
                                        </li>
                                        <li class="option-item">
                                            <button type="button" class="option-btn">
                                                <p>이력서</p>
                                            </button>
                                        </li>
                                        <li class="option-item">
                                            <button type="button" class="option-btn">
                                                <p>포트폴리오</p>
                                            </button>
                                        </li>
                                        <li class="option-item">
                                            <button type="button" class="option-btn">
                                                <p>자기소개서</p>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-item flex-3">
                            <label class="form-label" for="file-input">파일<span class="must">*</span></label>
                            <div class="form-field">
                                <!-- 실제 파일 input은 숨김 -->
                                <input type="file" id="file-input" hidden>
                                <!-- 파일명이 표시될 커스텀 영역 -->
                                <label for="file-input" class="form-file-label">파일</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup-action">
                    <button id="pop-apply" class="pop-btn btn-primary">등록하기</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>