<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shorcut icon" href="../../static/images/member/kok_favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/font/font.css">
    <link rel="stylesheet" href="../../static/css/experience/list.css">
    <title>kok</title>
</head>
<body>
    <div id="main-content" class="main-content">
        <main class="main">
            <div class="content-layout">
                <div class="content">
                    <div class="main-wrapper">
                        <div class="content-section">
                            <div class="search-container wide">
                                <div class="search-box">
                                    <div class="search-list">
                                        <div class="search-item search-input-item">
                                            <input type="text" id="keyword-input" placeholder="기업명">
                                            <button type="button" class="keyword-delete">
                                                <svg aria-label="icon" color="foregrounds.neutral.tertiary" fill="currentColor" height="24" role="img" width="24">
                                                    <path clip-rule="evenodd" d="M6.434 6.435a.8.8 0 0 1 1.132 0L12 10.869l4.434-4.434a.8.8 0 1 1 1.132 1.13L13.13 12l4.435 4.435a.8.8 0 1 1-1.132 1.13L12 13.133l-4.434 4.434a.8.8 0 0 1-1.132-1.131L10.87 12 6.434 7.566a.8.8 0 0 1 0-1.131" fill-rule="evenodd"></path>
                                                </svg>
                                            </button>
                                        </div>
                                        <div class="search-item">
                                            <div class="search-label">
                                                <p class="search-name">직군</p>
                                            </div>

                                            <div class="dropdown-container">
                                                <button class="dropdown-open-btn">전체</button>

                                                <div class="dropdown-menu">
                                                    <p class="dropdown-name">직군</p>
                                                    <div class="dropdown-content">
                                                        <ul class="dropdown-list">
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>SW 개발</p>
                                                                </button>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>데이터/AI</p>
                                                                </button>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>기획/전략</p>
                                                                </button>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>디자인/UX</p>
                                                                </button>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>마케팅/PR</p>
                                                                </button>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>경영/운영</p>
                                                                </button>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>HR/인사</p>
                                                                </button>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>회계/재무</p>
                                                                </button>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>법률/법무</p>
                                                                </button>
                                                            </li>
                                                        </ul>
                                                        <div class="dropdown-actions">
                                                            <button class="select-all-btn">전체 선택</button>
                                                            <button class="apply-btn">적용</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="search-item">
                                            <div class="search-label">
                                                <p class="search-name">기업 규모</p>
                                            </div>
                                            
                                            <div class="dropdown-container">
                                                <button class="dropdown-open-btn">전체</button>

                                                <div class="dropdown-menu">
                                                    <p class="dropdown-name">기업 규모</p>
                                                    <div class="dropdown-content">
                                                        <ul class="dropdown-list">
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>매우 작은 규모</p>
                                                                    <span>30명 미만</span>
                                                                </button>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>작은 규모</p>
                                                                    <span>30-100명</span>
                                                                </button>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>중간 규모</p>
                                                                    <span>100-400명</span>
                                                                </button>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>큰 규모</p>
                                                                    <span>400-2,000명</span>
                                                                </button>
                                                            </li>
                                                            <li class="dropdown-item">
                                                                <button class="dropdown-btn">
                                                                    <p>매우 큰 규모</p>
                                                                    <span>2,000명 초과</span>
                                                                </button>
                                                            </li>
                                                        </ul>
                                                        <div class="dropdown-actions">
                                                            <button class="select-all-btn">전체 선택</button>
                                                            <button class="apply-btn">적용</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="pc"> -->
                                        <button class="search-button">
                                            <svg viewBox="0 0 24 24" fill="#fff" height="24" role="img" width="24">
                                                <path clip-rule="evenodd" d="M11 4.8a6.2 6.2 0 1 0 0 12.4 6.2 6.2 0 0 0 0-12.4M3.2 11a7.8 7.8 0 1 1 13.852 4.921l3.514 3.514a.8.8 0 1 1-1.132 1.13l-3.513-3.513A7.8 7.8 0 0 1 3.2 11" fill-rule="evenodd"></path>
                                            </svg>
                                        </button>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="content-box pd-0">
                                <div class="list-container">
                                    <!-- 데이터 없을때 -->
                                    <div class="no-data">
                                        <p class="title">조건에 맞는 채용공고가 없습니다.</p>
                                        <p class="description">조건을 변경하여 다시 검색해 보세요.</p>
                                    </div>

                                    <div class="list-item">
                                        <button class="list-item-btn">
                                            <div class="list-item-header">
                                                <div class="list-item-thumb">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany_profile%2F210280%2F2025%2F09%2F09%2Flogo_1757380047672.jpg&amp;w=64&amp;q=75" alt="">
                                                </div>
                                                <div class="list-item-content">
                                                    <p class="list-item-title">애니포인트미디어</p>
                                                    <p class="list-item-subtitle">SDK 개발자 (Kotlin Multiplatform)</p>
                                                    <p class="list-item-description">크로스 플랫폼 광고 SDK 개발로 전문성을 쌓아갈 개발자 모집</p>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="list-item">
                                        <button class="list-item-btn">
                                            <div class="list-item-header">
                                                <div class="list-item-thumb">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany_profile%2F210280%2F2025%2F09%2F09%2Flogo_1757380047672.jpg&amp;w=64&amp;q=75" alt="">
                                                </div>
                                                <div class="list-item-content">
                                                    <p class="list-item-title">애니포인트미디어</p>
                                                    <p class="list-item-subtitle">SDK 개발자 (Kotlin Multiplatform)</p>
                                                    <p class="list-item-description">크로스 플랫폼 광고 SDK 개발로 전문성을 쌓아갈 개발자 모집</p>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="list-item">
                                        <button class="list-item-btn">
                                            <div class="list-item-header">
                                                <div class="list-item-thumb">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany_profile%2F210280%2F2025%2F09%2F09%2Flogo_1757380047672.jpg&amp;w=64&amp;q=75" alt="">
                                                </div>
                                                <div class="list-item-content">
                                                    <p class="list-item-title">애니포인트미디어</p>
                                                    <p class="list-item-subtitle">SDK 개발자 (Kotlin Multiplatform)</p>
                                                    <p class="list-item-description">크로스 플랫폼 광고 SDK 개발로 전문성을 쌓아갈 개발자 모집</p>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="list-item">
                                        <button class="list-item-btn">
                                            <div class="list-item-header">
                                                <div class="list-item-thumb">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany_profile%2F210280%2F2025%2F09%2F09%2Flogo_1757380047672.jpg&amp;w=64&amp;q=75" alt="">
                                                </div>
                                                <div class="list-item-content">
                                                    <p class="list-item-title">애니포인트미디어</p>
                                                    <p class="list-item-subtitle">SDK 개발자 (Kotlin Multiplatform)</p>
                                                    <p class="list-item-description">크로스 플랫폼 광고 SDK 개발로 전문성을 쌓아갈 개발자 모집</p>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="list-item">
                                        <button class="list-item-btn">
                                            <div class="list-item-header">
                                                <div class="list-item-thumb">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany_profile%2F210280%2F2025%2F09%2F09%2Flogo_1757380047672.jpg&amp;w=64&amp;q=75" alt="">
                                                </div>
                                                <div class="list-item-content">
                                                    <p class="list-item-title">애니포인트미디어</p>
                                                    <p class="list-item-subtitle">SDK 개발자 (Kotlin Multiplatform)</p>
                                                    <p class="list-item-description">크로스 플랫폼 광고 SDK 개발로 전문성을 쌓아갈 개발자 모집</p>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="list-item">
                                        <button class="list-item-btn">
                                            <div class="list-item-header">
                                                <div class="list-item-thumb">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany_profile%2F210280%2F2025%2F09%2F09%2Flogo_1757380047672.jpg&amp;w=64&amp;q=75" alt="">
                                                </div>
                                                <div class="list-item-content">
                                                    <p class="list-item-title">애니포인트미디어</p>
                                                    <p class="list-item-subtitle">SDK 개발자 (Kotlin Multiplatform)</p>
                                                    <p class="list-item-description">크로스 플랫폼 광고 SDK 개발로 전문성을 쌓아갈 개발자 모집</p>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="list-item">
                                        <button class="list-item-btn">
                                            <div class="list-item-header">
                                                <div class="list-item-thumb">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany_profile%2F210280%2F2025%2F09%2F09%2Flogo_1757380047672.jpg&amp;w=64&amp;q=75" alt="">
                                                </div>
                                                <div class="list-item-content">
                                                    <p class="list-item-title">애니포인트미디어</p>
                                                    <p class="list-item-subtitle">SDK 개발자 (Kotlin Multiplatform)</p>
                                                    <p class="list-item-description">크로스 플랫폼 광고 SDK 개발로 전문성을 쌓아갈 개발자 모집</p>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="list-item">
                                        <button class="list-item-btn">
                                            <div class="list-item-header">
                                                <div class="list-item-thumb">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany_profile%2F210280%2F2025%2F09%2F09%2Flogo_1757380047672.jpg&amp;w=64&amp;q=75" alt="">
                                                </div>
                                                <div class="list-item-content">
                                                    <p class="list-item-title">애니포인트미디어</p>
                                                    <p class="list-item-subtitle">SDK 개발자 (Kotlin Multiplatform)</p>
                                                    <p class="list-item-description">크로스 플랫폼 광고 SDK 개발로 전문성을 쌓아갈 개발자 모집</p>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="list-item">
                                        <button class="list-item-btn">
                                            <div class="list-item-header">
                                                <div class="list-item-thumb">
                                                    <img src="https://www.rocketpunch.com/_next/image?url=https%3A%2F%2Fimage.rocketpunch.com%2Fcompany_profile%2F210280%2F2025%2F09%2F09%2Flogo_1757380047672.jpg&amp;w=64&amp;q=75" alt="">
                                                </div>
                                                <div class="list-item-content">
                                                    <p class="list-item-title">애니포인트미디어</p>
                                                    <p class="list-item-subtitle">SDK 개발자 (Kotlin Multiplatform)</p>
                                                    <p class="list-item-description">크로스 플랫폼 광고 SDK 개발로 전문성을 쌓아갈 개발자 모집</p>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="side-wrapper">
                        <!-- 로그인시 -->
                        <div class="content-box">
                            <div class="profile-card">
                                <div class="profile-avatar">
                                    <img alt="image" draggable="false" loading="lazy" width="60" height="60" decoding="async" data-nimg="1" srcset="" src="/static/images/mypage/default.webp" style="color: transparent; border-radius: 999px; cursor: pointer; max-height: 60px; max-width: 60px; min-height: 60px; min-width: 60px; object-fit: contain;">
                                </div>
                                <div class="profile-info">
                                    <div class="profile-name">
                                        <a href="" class="member-name">홍길동</a>
                                    </div>
                                    <p class="member-role">SW 개발</p>
                                </div>
                                <div class="stats-list">
                                    <div class="stat-item">
                                        <p class="stat-value">0</p>
                                        <p class="stat-label">게시물</p>
                                    </div>
                                    <div class="stat-item">
                                        <p class="stat-value">0</p>
                                        <p class="stat-label">팔로워</p>
                                    </div>
                                    <div class="stat-item">
                                        <p class="stat-value">0</p>
                                        <p class="stat-label">채용공고</p>
                                    </div>
                                </div>

                                <button type="button" class="btn-write btn-primary popup-trigger" data-target="#post-write-popup">글쓰기</button>
                            </div>
                        </div>

                        <!-- 비로그인시 -->
                        <div class="content-box">
                            <div class="profile-card">
                                <div class="profile-message">
                                    <p class="title">콕! 찍으면, <br/>오늘은 내가 그 회사의 직원</p>
                                    <p class="desc">지금 프로필을 만들고 기회를 찾아보세요.</p>
                                </div>
                                <button type="button" class="btn-login btn-primary popup-trigger" data-target="#post-write-popup">로그인</button>
                            </div>
                        </div>
                        
                        <div class="content-box pd-0">
                            <div class="banner-list">
                                <div class="ad-banner">
                                    <div class="ad-text-box">
                                        <p class="title">1차세대 글로벌 광고 플랫폼 <br/>엔지니어 모집</p>
                                        <p class="desc">최신 기술 환경에서 전문성을 키워나가세요.</p>
                                    </div>
                                    <div class="ad-img">
                                        <img src="/static/images/experience/ad_bg_img.jpg" alt="">
                                    </div>
                                </div>
                                <div class="ad-banner">
                                    <div class="ad-text-box">
                                        <p class="title">2차세대 글로벌 광고 플랫폼 <br/>엔지니어 모집</p>
                                        <p class="desc">최신 기술 환경에서 전문성을 키워나가세요.</p>
                                    </div>
                                    <div class="ad-img">
                                        <img src="/static/images/experience/ad_bg_img.jpg" alt="">
                                    </div>
                                </div>
                                <div class="ad-banner">
                                    <div class="ad-text-box">
                                        <p class="title">3차세대 글로벌 광고 플랫폼 <br/>엔지니어 모집</p>
                                        <p class="desc">최신 기술 환경에서 전문성을 키워나가세요.</p>
                                    </div>
                                    <div class="ad-img">
                                        <img src="/static/images/experience/ad_bg_img.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- popup - 게시글 글쓰기 -->
    <div id="post-write-popup" class="popup-container pop-center" data-sticky="true">
        <div class="popup-inner">
            <div class="popup-header profile">
                <div class="profile-header">
                    <div class="profile-avatar">
                        <img alt="image" src="/static/images/mypage/default.webp">
                    </div>
                    <div class="profile-info">
                        <div class="profile-name">
                            <p class="member-name">홍길동</p>
                        </div>
                        <p class="profile-category">SW개발</p>
                    </div>

                    <div class="popup-close-box">
                        <button type="button" class="popup-write-close">
                            <svg viewBox="0 0 24 24" aria-label="icon" fill="currentColor" height="20" role="img" width="20">
                                <path clip-rule="evenodd" d="M6.434 6.435a.8.8 0 0 1 1.132 0L12 10.869l4.434-4.434a.8.8 0 1 1 1.132 1.13L13.13 12l4.435 4.435a.8.8 0 1 1-1.132 1.13L12 13.133l-4.434 4.434a.8.8 0 0 1-1.132-1.131L10.87 12 6.434 7.566a.8.8 0 0 1 0-1.131" fill-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <form action="">
                <div class="popup-body">
                    <div class="popup-input">
                        <textarea class="popup-textarea" name="" id="" placeholder="오늘의 생각, 일에 대한 통찰, 커리어 궁금증을 남겨보세요"></textarea>
                    </div>

                    <div class="popup-preview">
                        <div class="popup-preview-inner">
                            <!-- 이미지 들어오는곳 -->
                        </div>
                    </div>
                </div>
                <div class="popup-action">
                    <div class="popup-action-left">
                        <label for="btn-add-photo" class="popup-btn-photo">
                            <div class="phot-icon">
                                <svg viewBox="0 0 24 24" aria-label="icon" fill="currentColor" height="20" role="img" width="20">
                                    <path d="M19 2.2H5C3.45 2.2 2.2 3.45 2.2 5v14c0 1.55 1.25 2.8 2.8 2.8h14c1.55 0 2.8-1.25 2.8-2.8V5c0-1.55-1.25-2.8-2.8-2.8m-14 18c-.66 0-1.2-.54-1.2-1.2v-5.17c1.83.11 3.56.59 5.11 1.37a14.8 14.8 0 0 0-2.92 5h-1zM20.2 19c0 .66-.54 1.2-1.2 1.2H7.7c.69-1.76 1.74-3.33 3.07-4.63l.46-.43c2.33-2.08 5.41-3.34 8.78-3.34h.2V19zm0-8.8H20c-3.81 0-7.29 1.44-9.91 3.81a14.9 14.9 0 0 0-6.29-1.79V5c0-.66.54-1.2 1.2-1.2h14c.66 0 1.2.54 1.2 1.2zM9.96 8.636c-.31-.22-.67-.29-.91-.29s-.6.07-.91.29c-.35.25-.59.66-.59 1.21s.24.96.59 1.21c.31.22.67.29.91.29s.6-.07.91-.29c.35-.25.59-.66.59-1.21s-.24-.96-.59-1.21"></path>
                                </svg>
                            </div>
                            <p class="popup-tool-label">사진</p>
                        </label>

                        <input type="file" name="" id="btn-add-photo" multiple hidden>
                    </div>
                    <div class="popup-action-right">
                        <div class="count-num-box">
                            <span class="current-num">0</span>
                            <span class="divider">/</span>
                            <span class="max-num">5000</span>
                        </div>
                        <button type="button" class="pop-btn btn-primary pop-btn-write">글쓰기</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- toast - white -->
    <div id="toast-white" class="toast-warning">
        <div class="toast-warning-content">
            <div class="toast-inner">
                <div class="toast-icon">
                    <svg viewBox="0 0 24 24" fill="#fff" height="20" role="img" width="20">
                        <path clip-rule="evenodd" d="M12 3.8a8.2 8.2 0 1 0 0 16.4 8.2 8.2 0 0 0 0-16.4M2.2 12c0-5.412 4.388-9.8 9.8-9.8s9.8 4.388 9.8 9.8-4.388 9.8-9.8 9.8-9.8-4.387-9.8-9.8M12 8.19a.8.8 0 0 1 .8.8V9a.8.8 0 0 1-1.6 0v-.01a.8.8 0 0 1 .8-.8m0 3.01a.8.8 0 0 1 .8.8v3a.8.8 0 0 1-1.6 0v-3a.8.8 0 0 1 .8-.8" fill-rule="evenodd"></path>
                    </svg>
                </div>
                <p class="toast-text">업로드하려면 10자 이상 입력하거나 파일을 하나 이상 첨부해야 합니다.</p>
            </div>
        </div>
    </div>

    <!-- popup - 닫기 메세지 -->
    <div id="message-popup2" class="popup-container pop-center pop-default">
        <div class="popup-inner">
            <div class="popup-body">
                <div class="popup-title-box">
                    <strong class="popup-title">게시하지 않고 나가시겠어요?</strong>
                    <p class="popup-sub-title">지금 나가면 작성했던 내용이 저장되지 않습니다.</p>
                </div>
            </div>
            <div class="popup-action popup-btn-row">
                <button class="pop-btn btn-primary popup-all-close">나가기</button>
                <button class="pop-btn btn-default popup-continue popup-remove">계속 작성하기</button>
            </div>
        </div>
    </div>

    <script src="../../static/js/experience/event.js"></script>
</body>
</html>