@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url(../../font/roboto-cyrillic-ext-700-normal-be4d02458ce53887dc37.woff2) format("woff2"),url(roboto-all-700-normal-a457fde362a540fcadff.woff) format("woff");
    unicode-range: u+0460-052f,u+1c80-1c88,u+20b4,u+2de0-2dff,u+a640-a69f,u+fe2e-fe2f
}


@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url(../../font/roboto-cyrillic-700-normal-d010f1f324e111a22e53.woff2) format("woff2"),url(roboto-all-700-normal-a457fde362a540fcadff.woff) format("woff");
    unicode-range: u+0301,u+0400-045f,u+0490-0491,u+04b0-04b1,u+2116
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url(../../font/roboto-greek-ext-700-normal-bd9854c751441ccc1a70.woff2) format("woff2"),url(roboto-all-700-normal-a457fde362a540fcadff.woff) format("woff");
    unicode-range: u+1f??
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url(../../font/roboto-greek-700-normal-50e795c1345353b0e996.woff2) format("woff2"),url(roboto-all-700-normal-a457fde362a540fcadff.woff) format("woff");
    unicode-range: u+0370-03ff
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url(../../font/roboto-vietnamese-700-normal-3425a701027d0699e369.woff2) format("woff2"),url(roboto-all-700-normal-a457fde362a540fcadff.woff) format("woff");
    unicode-range: u+0102-0103,u+0110-0111,u+0128-0129,u+0168-0169,u+01a0-01a1,u+01af-01b0,u+1ea0-1ef9,u+20ab
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url(../../font/roboto-latin-ext-700-normal-ed67ad54b1a8f5d21150.woff2) format("woff2"),url(roboto-all-700-normal-a457fde362a540fcadff.woff) format("woff");
    unicode-range: u+0100-024f,u+0259,u+1e??,u+2020,u+20a0-20ab,u+20ad-20cf,u+2113,u+2c60-2c7f,u+a720-a7ff
}

@font-face {
    font-display: swap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: url(../../font/roboto-latin-700-normal-227c93190fe7f82de3f8.woff2) format("woff2"),url(roboto-all-700-normal-a457fde362a540fcadff.woff) format("woff");
    unicode-range: u+00??,u+0131,u+0152-0153,u+02bb-02bc,u+02c6,u+02da,u+02dc,u+2000-206f,u+2074,u+20ac,u+2122,u+2191,u+2193,u+2212,u+2215,u+feff,u+fffd
}

@font-face {
    font-family: Material Design Icons;
    src: url(../../font/materialdesignicons-webfont-d5cba82059f88bfa469e.woff2);
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #507cf3;
    --secondary: #bed6d5;
    --success: #40c8bc;
    --info: #8baaff;
    --warning: #f93;
    --danger: #fe657e;
    --light: #f8f9fa;
    --dark: #4e5d6c;
    --breakpoint-xs: 0;
    --breakpoint-sm: 800px;
    --breakpoint-md: 992px;
    --breakpoint-lg: 1200px;
    --breakpoint-xl: 1700px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: sans-serif;
    line-height: 1.15;
    min-height: 100vh;
}

body {
    font-family: Arial, NotoSansKr, "Noto Sans", sans-serif;
    letter-spacing: -.3px;
    background-color: #f5f5f5;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    overflow-x: hidden;
    padding: 0;
}

a {
    text-decoration: none !important;
}

h3 {
    line-height: 1.2;
}

body, html {
    height: 100%;
}

*, ::after, ::before {
    box-sizing: border-box;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

#kok {
    background-color: #f5f5f5;
    display: flex;
}

body #kok {
    height: 100%;
}

.kok-notify-container {
    padding: 20px 20px 0 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 340px;
    z-index: 1051;
}

.popup-manager {
    background-color: gray;
    height: 0;
    left: 50%;
    overflow: visible;
    position: fixed;
    top: 10%;
    transform: translate(-50%);
    z-index: 1041;
    width: 0px;
}

#kok #kok-main {
    flex: 1 1;
    overflow-y: auto;
}

.login-container {
    background-color: #f5f5f5;
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.login-container .horizontal-center {
    height: 100%;
    margin: 0 auto;
    max-width: 520px;
    padding: 2rem 0;
}
/* 
.login-container .horizontal-center:before {
    content: " ";
    display: inline-block;
    height: 90%;
    vertical-align: middle;
} */

.login-container .horizontal-center .vertical-center {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.login-container .join-inner, .login-container .login-inner {
    max-width: 520px;
}

.text-center {
    text-align: center !important;
}

.login-container .login-inner .login-logo .bootpay-logo {
    margin-bottom: 12px;
    width: 160px;
}

.comp-icon {
    display: inline-block;
}

.login-container .login-inner .login-logo .bootpay-logo svg {
    display: inline-block;
    width: 100%;
}

svg {
    overflow: hidden;
}

img, svg {
    vertical-align: middle;
}

.login-container .login-inner .login-logo .bootpay-logo .icon-color.fill {
    fill: #292929;
}

.login-container .login-inner .login-logo .subtitle {
    color: #8b9298;
    font-size: 17px;
}

.text-center {
    text-align: center !important;
}

.login-container .login-inner .login-box {
    border-radius: 20px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
    margin: 28px auto 0;
    padding: 50px 40px;
    width: 520px;
}

.login-container .login-inner .center-box {
    background-color: #fff;
}

.login-box .box-title {
    font-size: 40px;
    font-weight: 700;
}

.roboto {
    font-family: Roboto, Arial, NotoSansKr, Noto Sans, sans-serif;
}

.text-primary {
    color: #507cf3 !important;
}

.login-container .login-inner .login-box .box-subtitle {
    color: #8b9298;
    font-size: 15px;
    margin-bottom: 36px;
}

.form-group {
    margin-bottom: 1rem;
}

input.form-control {
    border: 1px solid #ededed;
}

.form-control {
    background-clip: padding-box;
    background-color: #fff;
    color: #495057;
    display: block;
    font-weight: 400;
    line-height: 1.5;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%;
}

.form-control:focus {
    background-color: #fff;
    border-color: #80bdff;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    color: #495057;
    outline: 0;
}

.login-container .login-inner input.form-control.h65 {
    border-radius: 10px;
}

input.form-control.h65 {
    font-size: 15px;
    height: 65px;
    padding: 22px 20px;
}

.login-container .login-inner .login-box .form-kok-check {
    margin: 20px 0;
}

.login-container .login-inner .login-box .kok-check {
    color: #afb7ba;
    font-size: 13px; 
    cursor: pointer;
}

.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}

.login-container .login-inner .login-box .kok-check .kok-check-box {
    background-color: rgba(80, 124, 243, .07);
    border-color: #dcdfe2;
    cursor: pointer;
}

.kok-check .kok-check-box {
    border: 1px solid #edeff0;
    border-radius: 3px;
    margin-right: 6px;
    position: relative;
    text-align: center;
}

.kok-check .kok-check-box i {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);   
}

.mdi-set, .mdi:before {
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font: normal normal normal 24px / 1 Material Design Icons;
    font-size: inherit;
    line-height: inherit;
    text-rendering: auto;
}

.mdi-check:before {
    content: "\F012C";
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.login-container .login-inner button.btn {
    font-weight: 700;
}

button.btn {
    vertical-align: middle;
}

button.btn.h65 {
    border-radius: 10px;
    font-size: 16px;
    height: 65px;
}

button:focus:not(:focus-visible) {
    outline: 0;
}

.btn {
    border: 1px solid transparent;
    line-height: 1.5;
    padding: .375rem .75rem;
    text-align: center;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    user-select: none;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-primary {
    background-color: #507cf3;
    border-color: #507cf3;
    color: #fff;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    background-color: #2c61f1;
    border-color: #2058f0;
    color: #fff;
}

.btn:hover {
    text-decoration: none;
}

.btn-primary:focus, .btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(106, 144, 245, .5);
}

/* 모든 모달 창 */
@keyframes popUp {
    from {scale: 0;}
    to {scale: 1;}
}

@keyframes popDown {
    from {scale: 1;}
    to {scale: 0;}
}

.kok-modal {
    display: none;
    background-color: rgba(0, 0, 0, .7);
    bottom: 0;
    left: 0;
    padding: 1em;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    white-space: nowrap;
    z-index: 200000;
}

.kok-modal:before {
    content: " ";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.kok-modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-inner {
    border-radius: 5px;
    display: inline-block;
    max-width: 500px;
    overflow: hidden;
    vertical-align: middle;
    width: 100%;
}

.modal-inner.raise {
    animation: raise .1s ease-in-out;
}

.modal-header {
    background-color: #fff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 2rem 2rem 0;
    text-align: left;
    white-space: pre-line;
    word-break: break-all;
    display: flex;
}

.modal-header-title {
    color: #37394e;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.modal-body {
    background-color: #fff;
    box-shadow: none;
    color: #828797;
    font-size: 14px;
    font-weight: 400;
    margin-top: -1px;
    outline: none;
    padding: 1.5rem 2rem;
    text-align: left;
    white-space: pre-line;
    word-break: break-all;
}

.modal-footer {
    background-color: #eff0f6;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #fff;
    box-shadow: none;
    outline: none;
    overflow: hidden;
    padding: 1rem 2rem;
    text-align: right;
    width: 100%;
}

.kok-modal-check-button {
    border: 0;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    min-width: 120px;
    padding: .75rem 2rem;
    text-align: center;
}

.kok-modal-check-button {
    background-color: #507cf3;
    color: #fff;
}