@font-face {
    font-family: Material Design Icons;
    src: url(../../font/materialdesignicons-webfont-d5cba82059f88bfa469e.woff2);
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #507cf3;
    --secondary: #bed6d5;
    --success: #40c8bc;
    --info: #8baaff;
    --warning: #f93;
    --danger: #fe657e;
    --light: #f8f9fa;
    --dark: #4e5d6c;
    --breakpoint-xs: 0;
    --breakpoint-sm: 800px;
    --breakpoint-md: 992px;
    --breakpoint-lg: 1200px;
    --breakpoint-xl: 1700px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*, :after, :before {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body, html {
    height: 100%;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: sans-serif;
    line-height: 1.15;
}

body {
    font-family: Arial, NotoSansKr, Noto Sans, sans-serif;
    letter-spacing: -.3px;
    background-color: #f5f5f5;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    padding: 0;
}

aside {
    display: block;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: #007bff;
}

p {
    margin-bottom: 1rem;
    margin-top: 0;
}

b, strong {
    font-weight: bolder;
}

.h3, h3 {
    font-size: 1.75rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    margin-top: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .5rem;
}

a, a:active, a:focus, a:hover {
    color: #525f7f;
    text-decoration: none !important;
}

dl, ol, ul {
    margin-top: 0;
}

table {
    border-collapse: collapse;
}

table.table tr td, table.table tr>th {
    border-bottom: 1px solid #e2e2e2;
    border-top: 0;
    vertical-align: middle;
}

table.table tr:last-child td, table.table tr:last-child>th {
    border-bottom: 0;
}

svg {
    overflow: hidden;
}

img, svg {
    vertical-align: middle;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button.btn {
    font-size: 14px;
    vertical-align: middle;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 100%;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.col-auto {
    flex: 0 0 auto;
    max-width: 100%;
    width: auto;
}

.btn {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #212529;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: .375rem .75rem;
    text-align: center;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
}

.btn:hover {
    text-decoration: none;
}

.btn-primary {
    background-color: #507cf3;
    border-color: #507cf3;
    color: #fff;
}

.btn-outline-primary {
    border-color: #507cf3;
    color: #507cf3;
}

.btn-group, .btn-group-vertical {
    display: inline-flex;
    position: relative;
    vertical-align: middle;
}

.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.btn-group-vertical>.btn, .btn-group>.btn {
    flex: 1 1 auto;
    position: relative;
}

.btn-group>.btn-group:not(:first-child), .btn-group>.btn:not(:first-child) {
    margin-left: -1px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.list-inline, .list-unstyled {
    list-style: none;
    padding-left: 0;
}

.p-0 {
    padding: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

.h-100 {
    height: 100% !important;
}

.w-100 {
    width: 100% !important;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

.flex-column {
    flex-direction: column !important;
}

.d-flex {
    display: flex !important;
}

.d-block {
    display: block !important;
}

.d-inline-block {
    display: inline-block !important;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-dark {
    color: #4e5d6c !important;
}

.text-danger {
    color: #fe657e !important;
}

.ml-1, .mr-1, .mx-1 {
    margin-right: .25rem !important;
}

.ml-2, .mr-2, .mx-2 {
    margin-right: .5rem !important;
}

.pt-2, .py-2 {
    padding-top: .5rem !important;
}

.mt-5, .my-5 {
    margin-top: 3rem !important;
}

.p-5 {
    padding: 3rem !important;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}

.mr-4, .mx-4 {
    margin-right: 1.5rem !important;
}

.pr-4, .px-4 {
    padding-right: 1.5rem !important;
}

.mr-3, .mx-3 {
    margin-right: 1rem !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
}

.comp-icon {
    display: inline-block;
}

/* 폰트파일 안에 담긴 아이콘 가져오기 */
.mdi-set, .mdi:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font: normal normal normal 24px / 1 Material Design Icons;
    font-size: inherit;
    line-height: inherit;
    text-rendering: auto;
}

.mdi-credit-card-plus-outline:before {
    content: "\F0676";
}

.mdi-chevron-right:before {
    content: "\F0142";
}

.mdi-chevron-down:before {
    content: "\F0140";
}

.mdi-text-box-outline:before {
    content: "\F09ED";
}

.mdi-bullhorn-variant-outline:before {
    content: "\F196F";
}

.mdi-magnify:before {
    content: "\F0349";
}

.mdi-18px.mdi:before {
    font-size: 18px;
}

.mdi-bell-outline:before {
    content: "\F009C";
}

.mdi-logout-variant:before {
    content: "\F05FD";
}

.mdi-timer-outline:before {
    content: "\F051B";
}

.mdi-file-send-outline:before {
    content: "\F1039";
}

.mdi-timer-outline:before {
    content: "\F051B";
}

.mdi-file-send-outline:before {
    content: "\F1039";
}

.mdi-format-list-bulleted:before {
    content: "\F0279";
}

.mdi-format-list-text:before {
    content: "\F126F";
}

.mdi-magnify:before {
    content: "\F0349";
}

.mdi-chevron-right:before {
    content: "\F0142";
}

.mdi-close:before {
    content: "\F0156";
}

.mdi-menu-left:before {
    content: "\F035E";
}

body #kok {
    height: 100%;
}

#kok {
    background-color: #f5f5f5;
    display: flex;
}

#kok-notify-container {
    padding: 20px 20px 0 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 340px;
    z-index: 1051;
}

.popup-manager {
    background-color: gray;
    height: 0;
    left: 50%;
    overflow: visible;
    position: fixed;
    top: 10%;
    transform: translate(-50%);
    z-index: 1041;
}

#kok>#kok-side {
    transition: all .2s;
    width: 240px;
}

#kok>#kok-side #side-wrapper {
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .06);
    height: 100%;
    transition: all .2s;
    width: 240px;
}

#kok>#kok-side #side-wrapper .side-header .app-wrapper {
    padding: 14px 18px 24px;
    position: relative;
}

#kok>#kok-side #side-wrapper .side-header .app-wrapper .provider-name {
    color: #8b9298;
    font-size: 13px;
    font-weight: 700;
    padding: 6px 10px;
    vertical-align: middle;
}

.comp-provider-name {
    white-space: nowrap;
}

.comp-provider-name span.pn-name {
    display: inline-block;
    vertical-align: middle;
}

#kok>#kok-side #side-wrapper .side-header .app-wrapper .app-name {
    background-color: rgba(80, 124, 243, .07);
    border-radius: 3px;
    color: #507cf3;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 14px;
    transition: background-color .1s;
}

#kok>#kok-side #side-wrapper .side-header .app-wrapper:after {
    border-bottom: 1px solid #edeff0;
    bottom: 0;
    content: "";
    height: 0;
    left: 30px;
    position: absolute;
    right: 30px;
}

#kok>#kok-side #side-wrapper>.menu-wrapper {
    padding: 20px;
}

#kok>#kok-side #side-wrapper>.menu-wrapper>ul.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#kok>#kok-side #side-wrapper>.menu-wrapper>ul.menu-list>li a {
    border-radius: 3px;
    color: #292929;
    font-size: 14px;
    font-weight: 700;
    padding: .7rem .5rem;
    transition: all .4s;
    vertical-align: middle;
}

#kok>#kok-side #side-wrapper>.menu-wrapper>ul.menu-list>li a.current {
    background-color: #dce5fd;
}

#kok>#kok-side #side-wrapper>.menu-wrapper>ul.menu-list>li a:hover {
    background-color: #eef2fe;
    color: #292929;
}

#kok>#kok-side #side-wrapper>.menu-wrapper>ul.menu-list>li a i {
    font-size: 17px;
    vertical-align: middle;
}

#kok>#kok-side #side-wrapper>.menu-wrapper>ul.menu-list>li a span.menu-name {
    line-height: 26px;
    margin-left: 12px;
}

#kok>#kok-side #side-wrapper>.menu-wrapper>ul.menu-list>li>ul.menu-sub-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.collapse:not(.show) {
    display: none;
}

#kok>#kok-side #side-wrapper>.menu-wrapper>ul.menu-list>li>ul.menu-sub-list>li {
    margin-left: 1.1rem;
}

#kok>#kok-side #side-wrapper>.menu-wrapper>ul.menu-list>li>ul.menu-sub-list>li>a {
    color: #56626a;
    display: block;
    font-size: 13px;
    font-weight: 500;
    padding: 8px 0 8px 24px;
    transition: all .2s;
}

#kok>#kok-side #side-wrapper>.menu-wrapper>ul.menu-list>li>ul.menu-sub-list>li>a.active {
    color: #507cf3;
    font-weight: bolder;
}

#kok>#kok-side #side-wrapper>.menu-wrapper>ul.menu-list>li a {
    border-radius: 3px;
    vertical-align: middle;
}

#kok #kok-main {
    flex: 1 1;
    overflow-y: auto;
}

#kok-header {
    height: 50px;
}

#kok-header .header-menu-group {
    padding: 20px 30px 0 0;
}

#kok-header .header-menu-btn-manage {
    background-color: #fff;
    border-radius: 50%;
    color: #56626a;
    height: 42px;
    line-height: 42px;
    position: relative;
    text-align: center;
    width: 42px;
    cursor: pointer;
}

#kok-header .header-menu-btn-manage:hover {
    box-shadow: 0 0 8px rgb(89, 102, 122, .15);
    color: #507cf3;
    cursor: pointer;
}

.kok-link .header-menu-btn-manage {
    position: relative;
}

.kok-link .header-menu-btn-manage::after {
    content: "신고 게시글"; 
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #333; 
    color: #fff; 
    font-size: 15px; 
    padding: 0 10px; 
    border-radius: 9px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.2s ease;
    z-index: 10;
    margin-top: 4px;
}

.kok-link .header-menu-btn-manage:hover::after {
    opacity: 1;
}

#kok-header .header-menu-btn-manage i {
    font-size: 22px;
    cursor: pointer;
}

#kok-header .header-menu-btn-notice {
    background-color: #fff;
    border-radius: 50%;
    color: #56626a;
    height: 42px;
    line-height: 42px;
    position: relative;
    text-align: center;
    width: 42px;
    cursor: pointer;
}

#kok-header .header-menu-btn-notice:hover {
    box-shadow: 0 0 8px rgb(89, 102, 122, .15);
    color: #507cf3;
    cursor: pointer;
}

#kok-header .header-menu-btn-notice.active {
    box-shadow: 0 0 8px rgb(89, 102, 122, .15);
    color: #507cf3;
    cursor: pointer;
}

.kok-link .header-menu-btn-notice {
    position: relative;
}

.kok-link .header-menu-btn-notice::after {
    content: "고객지원"; 
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #333; 
    color: #fff; 
    font-size: 15px; 
    padding: 0 10px; 
    border-radius: 9px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.2s ease;
    z-index: 10;
    margin-top: 4px;
}

.kok-link .header-menu-btn-notice:hover::after {
    opacity: 1;
}

#kok-header .header-menu-btn-notice i {
    font-size: 22px;
    cursor: pointer;
}

.user-menu .user-menu-wrapper {
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    position: relative;
    transition: box-shadow .2s;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.user-menu .user-menu-wrapper:hover {
    box-shadow: 0 0 8px rgb(89, 102, 122, .15);
}

.user-menu .user-menu-wrapper .user-avatar {
    background-color: #507cf3;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 32px;
}

.user-menu .user-menu-wrapper .user-menu-email {
    font-size: .9rem;
    letter-spacing: .2px;
    padding: 0 12px;
}

/* 관리자 상단 이메일 클릭 시 */
/* 기준 잡기 위해 넣어둠 */
.user-menu {
  position: relative; 
}

.user-menu .user-menu-content {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 20px rgba(89, 102, 122, .15);
    color: #4e5d6c;
    font-size: .9rem;
    min-width: 180px;
    overflow: hidden;
    padding: 0 5px;
}

.dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    color: #212529;
    display: none;
    float: left;
    font-size: 1rem;
    left: 0;
    list-style: none;
    margin: .125rem 0 0;
    min-width: 10rem;
    padding: .5rem 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
}

.dropdown-menu-right {
    left: auto;
    right: 0;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu[x-placement^=bottom] {
    bottom: auto;
    right: auto;
}

.user-menu .user-menu-content ul.menu-body {
    margin-bottom: 0;
}

.user-menu .user-menu-content ul.menu-body li {
    align-items: center;
    border-bottom: 1px solid #f9f9f9;
    display: flex;
    font-weight: 500;
    padding: 0;
    position: relative;
}

.user-menu .user-menu-content ul.menu-body li a {
    padding: 10px 20px;
    width: 100%;
}

.user-menu .user-menu-content ul.menu-body li:hover a {
    color: #507cf3 !important;
}

/* 메인 화면 */
/* 공지사항 상세 시작 */
.page {
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    padding: 0 30px 50px;
}

.narrow-center {
    margin: 0 auto;
    max-width: 1000px;
}

.page .page-header {
    padding-bottom: 20px;
}

.page .page-header .page-title {
    font-size: 1.2rem;
    font-weight: 700;
}

.white-panel {
    background-color: #fff;
    border-radius: 6px;
}

.notice-layout .header {
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 10px;
}

.notice-layout .title {
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0;
}

.notice-layout .small-grey {
    color: #8b9298;
    font-size: 12px;
}

.notice-layout .body {
    min-height: 50vh;
    padding: 10px;
}

.notice-layout .body .content {
    padding-top: 30px;
}

button.btn.btn-default {
    background-color: #e9eaf0;
    color: #afb7ba;
}

button.btn.btn-default:hover {
    background-color: #e8e8e8;
}

/* 페이지 번호 */
.kok-pagination-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.pagination {
    border-radius: .25rem;
    display: flex;
    list-style: none;
    padding-left: 0;
}

.kok-pagination-wrapper ul.kok-pagination {
    border-radius: 0;
    margin-bottom: 0;
}

.kok-pagination-wrapper ul.kok-pagination>li.page-item {
    padding: 2.5px;
}

.kok-pagination-wrapper ul.kok-pagination>li.page-item a {
    border-color: transparent;
    border-radius: 4px;
    color: #8b9298;
    font-size: 15px;
    line-height: 15px;
    min-width: 32px;
    padding: 7px 10px;
    text-align: center;
}

.kok-pagination-wrapper ul.kok-pagination>li.page-item.active>a {
    color: #507cf3;
    font-weight: 700;
}

/* 일반회원이 1페이지(10명 미만)일 때 */
.kok-pagination-wrapper .pagination-desc {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.text-ignore {
    color: #9fafb7;
}

.kok-pagination-wrapper .des {
    font-size: 12px;
    margin-left: 10px;
}

.kok-pagination-wrapper .des .highlight {
    color: #181c32;
    font-weight: 700;
}

